[2013-01-04 15:31] graingert opened #6 "Support Python 3.3"
Currently eventlet seems to support [2.4 - 2.7](https://github.com/eventlet/eventlet/blob/4a085a78188171e2b3e69a3c0658ffb74bf16a8b/setup.py#L40) however a lot of projects are moving to support Python 3 and 2 with a single code base using tools such as [six](http://packages.python.org/six/).

I'd recommend dropping support for 2.4 - 2.6, and supporting both 2.7 and 3.3 using the [six](http://packag

[2013-01-04 20:11] graingert opened #7 "Issues when importing requests with import_patched after importing normally"
Not sure if this is requests fault or eventlets

[code]

[2013-01-05 17:06] temoto opened #8 "IPv6 support"
(i'm just creating another issue here because code triage reminds me of open issues on Github by email)

There is fork by Floris: https://bitbucket.org/flub/eventlet-ipv6
TODO: try if it works, add tests if necessary, merge

As Floris wrote in [1]:

[1] https://plus.google.com/109869205442495270563/posts/BhRip2sG128

[2013-01-13 20:52] ewindisch opened #9 "zmq Socket.close should accept linger kwarg (pyzmq compat)"
Pyzmq supports a linger kwarg to close(). This was supported in Eventlet<=0.9.16 but stopped working in Eventlet 0.9.17 per bzr commit 90c9b3b6ade2.

Previously working calls to close() including the linger kwarg now raise an Exception.

[2013-01-13 22:08] #9 closed, assigned to temoto

[2013-01-23 16:14] graingert opened #10 "integrate with travis"
It would be handy to get automated tests working with travis

[2013-02-03 02:46] xiaoenj opened #13 "monkey_patch'ed select returns file descriptors to caller upon POLLERR or POLLHUP events"
The implementation of "select" may return file descriptors to the caller of select (monkey_patch'ed by eventlet) if POLLERR or POLLHUP appears. However, from the caller's perspective, when it would expect those returned descriptors to be readable/writeable. This seems to be inconsistent with Python's native select interface.

An example (simplified from Apache Qpid's qpid/compat.py) illustrates th

[2013-02-03 03:11] #10 closed, assigned to nobody

[2013-02-03 05:06] xiaoenj opened #14 "eventlet.select does not always poll if timeout parameter is zero"
As described in Python doc (cf. http://docs.python.org/2/library/select.html), for select.select() function, "a time-out value of zero specifies a poll and never blocks."

This is not always the case for eventlet.select() function, as is demonstrated by the sample code below.

[code]

On our machine, the above code always generates the output:

N
Y
N
Y

With strace, we can see that the invocations

[2013-02-04 10:15] temoto opened #15 "Green ssl.do_handshake is blocking (does not yield to hub) on MacOSX"
Thanks to Derk Tegeler for this report.

[code]

`t-N` must be very small. On MacOSX it is considerably large, which indicates that `do_handshake` does not switch to hub.

[2013-03-11 12:20] MrPunch opened #17 "Syntax error in green.ssl.py sendall()"
Encountered a rare crash with SSL connections:

[code]

I believe this is due to the following code in green/ssl.py

[code]

From looking at the code of the original python SSL.py and the surrounding functions, the bug is the 'buflen' parameter on line 139 of green/ssl.py. This is incorrect and should be:

[code]

Regards

[2013-04-16 15:05] #14 closed, assigned to nobody

[2013-04-22 14:33] mouadino opened #27 "WSGI server shouldn't read all request body file when the connection is marked to be closed."
Hi,

Please allow me to start with some historical fact before.

While working on a [bug fix](https://bugs.launchpad.net/python-glanceclient/+bug/1171241) for an OpenStack project (Glance) which use eventlet wsgi server as a backend server, i stumble upon a strange behavior from eventlet.wsgi server.

In our case we have a client that use chunked body transfert to upload a file to the server like

[2013-04-22 20:26] temoto opened #28 "subprocess + OS threads: .wait() causes traceback to stderr and hang"
The following piece works fine in usual interpreter and fails in IPython interactive shell. Most likely because IPython runs code in separate thread. Importance is unknown yet.

[code]

[2013-05-24 21:36] jstasiak opened #29 "eventlet vs Eventlet"
What's suggested way of writing the project name: eventlet or Eventlet? For instance in the readme it's only "eventlet" when on http://eventlet.net there's mix of "eventlet" and "Eventlet". I'm asking cause I'd like to refer to eventlet (Eventlet :P) in a consistent way.

[2013-05-28 09:58] layzerar opened #30 "High cpu usage with poll and epoll hubs in linux."
If I add a short-time sleep in a green thread(e.g. eventlet.sleep(0.02)), it will product a high cpu usage.
The script I provided will cause about 5 persent cpu usage if running in the following platforms, and it almost does nothing.

After several hours‘ research, I found it's maybe a bug in the hub's main loop. In the line 236 of /eventlet/hubs/hub.py, when the variable sleep_time is small enoug

[2013-06-10 15:58] temoto opened #36 "kqueue regression wsgi_test.TestHttpd:test_017_ssl_zeroreturnerror"
@edwardgeorge @yamt
I ran all tests on FreeBSD 9.1 amd64 in VirtualBox and got this new error with 632debc

[code]

Please have a look at full output here https://gist.github.com/temoto/5749676

It's not as easy as it could be, but doesn't take much time to set up FreeBSD virtual machine. I understand it's not great to debug in such a way but I'm ready to run more tests with patches.

[2013-06-12 10:42] #36 closed, assigned to nobody

[2013-06-27 02:04] pauloppenheim-liveloop opened #38 "get_hub on windows broken by kqueue"
When writing a patch to address commentary on my [existing patch](https://bitbucket.org/eventlet/eventlet/pull-request/33/bugfix-socket-timeouts-in-wsgi-server-not/diff) for [bitbucket issue #143](https://bitbucket.org/eventlet/eventlet/issue/143/socket-timeouts-in-wsgi-server-not-caught), I noticed that my test no longer ran because of a bad import:

[code]

Simple patch in a soon-to-be-posted pu

[2013-07-02 14:33] #38 closed, assigned to temoto

[2013-07-02 14:37] #29 closed, assigned to nobody

[2013-07-11 16:16] temoto opened #41 "Certain test order fails api_test.check_hub get_readers not empty"
Recent Travis builds fail just because tests now run in different order than before, not related to actual code. So it's quite important to fix CI.
https://travis-ci.org/eventlet/eventlet/jobs/8971148

In my attempt to bisect the issue, it was there like forever.

Easiest way to reproduce: `nosetests -v tests/wsgi_test.py:TestHttpd.test_ipv6 tests/api_test.py:TestApi.test_timeout_cancel`

[code]

[2013-08-07 14:48] #41 closed, assigned to nobody

[2013-08-12 16:23] #17 closed, assigned to nobody

[2013-08-19 12:21] temoto opened #45 "tox: add sphinx checks"
http://tox.readthedocs.org/en/latest/example/general.html#sphinx-checks

[2013-08-19 13:25] temoto opened #46 "doc: add Google+, Facebook Like, etc buttons to documentation"
like in py.test

Expecting more developer awareness of Eventlet.

[2013-08-28 14:12] megies opened #47 "README rendering in github"
If you just rename README to README.rst it renders the markup on your github frontpage.

[2013-09-04 21:58] #47 closed, assigned to nobody

[2013-09-05 09:56] temoto opened #48 "(possible) ssl.wrap_socket() problem in Python 2.7.5"
https://plus.google.com/u/0/103835434627797765074/posts/ELEKSb8e5HY?cfem=1

[2013-09-07 13:16] #48 closed, assigned to nobody

[2013-09-19 08:27] davidhadas opened #50 "Eventlet prefers timeout handling over other non blocking work"
The following code:

with Timeout(3):
        urllib2.urlopen(url).read()

may result in Timeout even long after the url has been retrieved
i.e. the url may be retrieved in well under 1 seconds and still the timeout would fire.

This can happen in periods where the system becomes cpu bound.
Here is some example code I have constructed after detecting this issue with Openstack/Swift: http://apaste.

[2013-09-26 05:30] temoto opened #52 "test: at the end of each test, assert there are no surplus OS threads and greenlets"
Floris Bruynooghe to Eventlet mailing list:

[2013-09-30 20:52] dmcnelis opened #53 "Empty GreenPile iterator hangs"
Here is a simplified recreation of the problem:

[code]

This will just sit and spin, without throwing any sort of exception / error.

[2013-10-03 13:53] flub opened #54 "event.Queue.join() does not behave as stdlib"
When calling `q.join()` on a Queue it returns immediately if there are no outstanding tasks.  However in eventlet when calling `q.join()` on an empty queue it will be blocking.  This is because the queue simply waits on the empty condition which only gets triggered when someone calls `q.task_done()`.

[2013-10-05 13:01] davidhadas opened #55 "Multiple yields within a timeout clause result in timeouts"
In a CPU bound system, a timeout clause may raise a Timeout exception even if the code inside the timeout clause can complete in significantly less than the specific timeout.

This may happen whenever the timeout clause includes multiple yields.  For example the code:

Line1:   with eventlet.Timeout(1):

Line2:   _ _ _ _ eventlet.sleep(0)

Line3:   _ _ _ _ eventlet.sleep(0)

may raise an exception

[2013-11-06 21:44] jackboot7 opened #60 "'Lookup timed out' (xpost from rthalley/dnspython)"
Just wondering if this issue ( https://github.com/rthalley/dnspython/issues/27 ) is something that should be fixed in the eventlet repository or is a dnspython problem.

[2013-11-18 11:57] rameshg87 opened #61 "eventlet should consider EAGAIN error code like EWOULDBLOCK"
As recommended by POSIX standards, EAGAIN and EWOULDBLOCK can be returned when a read from a non-blocking socket would block. For example, this is written in "man recv" of linux man page.

EAGAIN or EWOULDBLOCK
              The socket is marked nonblocking and the receive operation would block, or a receive timeout had been set and the timeout
              expired before data was received.  POSI

[2013-11-29 03:39] spearki opened #63 "Infinite trampoline loop when writing to a unix domain socket"
There was an issue reported on the eventletdev list last year by Darrell Bishop that we've come across in production. It causes our OpenStack API servers to spin and stop responding to API requests. I can't explain the issue better than he did, so I'll quote his email here:

https://lists.secondlife.com/pipermail/eventletdev/2012-September/001095.html

"""
I've found a way in which eventlet can ge

[2013-12-14 02:05] Holiverh opened #69 "WSGI server should use the standard logging facilities"
This is a really minor gripe, but the way the WSGI server currently implements logging seems kinda silly. The whole _'specify a stream to write to and a format'_ seems stupid when Python has perfectly good logging facilities built-in.

Currently if you want to get the WSGI server's logging to play nice with your own, global logging configuration you end up having using a file-like class just to re

[2013-12-16 10:59] temoto opened #70 "copy contributing.md"
https://github.com/h5bp/server-configs-nginx/blob/master/CONTRIBUTING.md

[2014-01-09 19:31] temoto opened #72 "create reference card (cheat sheet) on DZone"
http://refcardz.dzone.com/

[2014-01-29 06:20] mohdsiddiquebagwan opened #77 "greenthread.py old raise syntax"
Hi,

I am using python3.3.3 and I got syntax invalid error in greenthread.ppy at line number 256 (raise throw_args[0], throw_args[1], throw_args[2]) so I replaced it with just raise and it resolve the error .

Please make this change.
Thanks
Mohd Siddique Bagwan.

[2014-02-10 14:59] #77 closed, assigned to nobody

[2014-03-12 09:26] hynek opened #79 "pyOpenSSL example doesn’t work"
Re: https://github.com/eventlet/eventlet/blob/master/doc/ssl.rst

There are two issues:
1. There’s a typo with an excessive paren in the `set_verify` call.
2. It doesn’t work at all. :)

I tried it with pyOpenSSL 0.12, 0.13.1, and 0.14 and I always get:

[code]

Even if I add a `context.set_cipher_list("ALL")`.

Tested on both OS X (Mavericks, Apple’s OpenSSL & brewed) and Linux (Precise) with eve

[2014-03-19 20:04] asramakanth opened #80 "Converting HTTP header name to lower case"
Eventlet is converting the standard HTTP header name 'ETag' to 'Etag' with a lower case. This breaks other libraries/projects that use Eventlet.

http://en.wikipedia.org/wiki/HTTP_ETag

This is caused from a problem of eventlet which is a WSGI library of python.
Eventlet always converts the key (name) of HTTP headers into the formats like as 'Etag' with the rules as follows:
Converting the first c

[2014-03-27 05:01] #54 closed, assigned to nobody

[2014-03-29 05:53] temoto opened #81 "import_patched('pymysql') does not create the main module in sys.modules"
`eventlet.import_patched('pymysql')` creates a bunch of names in `sys.modules`, like `pymysql.{connections,cursors,times,...}` but does not create the main `pymysql`.

Related Stackoverflow question: http://stackoverflow.com/questions/22706109/how-do-i-use-pymysql-with-gevent-and-django-celery

Possibly related issue: https://github.com/eventlet/eventlet/issues/7

[2014-04-02 09:09] temoto opened #83 "subprocess: Python 2.6 – 3.4 compatible _communicate()"
Current `green.subprocess.Popen._communicate()` [1] uses a very ingenious way (`new.function`) to re-use stdlib code with our greened select/poll.

There are few issues:
- it explicitly does not support Windows
- the code is hard to read and understand
- it does not work in Python3 because of renames like `im_func -> __func__`

While `six` is supposed to take care of renames, it didn't work at fir

[2014-04-08 11:16] temoto opened #86 "doc: improve documentation for beginners, add FAQ"
- explain on index page what is going on, who is the target audience, provide quick links to info for users, contributors, trouble shooting
- describe frequently asked questions [1] [2]
- describe typical project designs using Eventlet (add/expand Examples sections)
- describe release history with known issues (e.g., 100% busy CPU using ZeroMQ in 0.10, 0.11)

Here's a nice article describing set o

[2014-04-15 14:52] #63 closed, assigned to nobody

[2014-04-17 19:42] drozzy opened #89 "vcvarsall.bat not found"
When installing this on windows 8 (with pycharm intellinj), with pip, I get an error:

[code]

Here is the full output from the console.

[code]

[2014-04-18 11:42] #89 closed, assigned to nobody

[2014-04-21 02:26] aztrock opened #90 "ImportError: No module named 'httplib'"

[2014-04-21 14:48] #90 closed, assigned to nobody

[2014-04-22 14:40] #80 closed, assigned to temoto

[2014-04-23 00:09] pkit opened #91 "GreenPile will lose thread result on Exception/Timeout"
The following code:

[code]

will produce:

[code]

Looks like the result of the greenthread that GreenPile was waiting on is lost when Timeout fires.

[2014-04-25 15:56] r3m0t opened #93 "corolocal doesn't match threating.local"
This subclass of `threading.local` fails when eventlet has monkey patched the threading module:

https://github.com/pydata/numexpr/blob/6e59ed5f0e6f968795eb8df98ed5a15c5995e987/numexpr/expressions.py#L62

[code]

[2014-04-28 15:07] mkerrin opened #94 "Second simultaneous read on fileno can be raised on a closed socket"
There seems to be a race between "adding" a socket to the hub and closing the socket, leading to "Second simultaneous read on fileno X detected" exception been raised when it shouldn't be. It seems from below that a closed socket is not removed from the hub blocking an other valid read on a fileno.

We are working on the tripleo project and we see this error across a lot of the code base around ht

[2014-05-04 22:33] ziadsawalha opened #95 "Thread.join() blocks when patched"
I've been using eventlet with bottle for a while, but some features weren't working as expected. I've submitted [some patches](https://github.com/defnull/bottle/pull/621) to bottle, but there is one problem which I think may be related to eventlet's patching of threading.

If I run bottle with eventlet using the sample file below, I would expect bottle to reload my process whenever I edit the file

[2014-05-15 00:04] pjwerneck opened #96 "db_pool with MySQLdb returns str with unicode encoded data"
Given a MySQL table with text, with utf8 encoding, when I'm using eventlet.db_pool, instead of getting unicode() instances when I fetch the data, I get str() instances with the unicode data.

For example, this is without db_pool:

[code]

And this with db_pool.

[code]

It doesn't even return a valid encoding in the data, and the way to circumvent that is to decode it as a raw unicode literal, wit

[2014-05-15 16:55] #96 closed, assigned to nobody

[2014-06-23 07:18] #60 closed, assigned to nobody

[2014-07-10 10:28] temoto opened #101 "self.assert_ DeprecationWarning: Please use assertTrue instead"
`git grep assert_`

Actually, use plain `assert` keyword.

[2014-07-10 10:30] temoto opened #102 "Python3 AttributeError: 'dict' object has no attribute 'iteritems'"
[code]

[2014-07-10 13:33] temoto opened #103 "Python3 TypeError: __bool__ should return bool, returned int"
[code]

[2014-07-10 13:33] temoto opened #104 "Python3 TypeError: unicode not allowed, use setsockopt_string"
[code]

[2014-07-10 13:34] temoto opened #105 "Python3 NameError: name 'URLopener' is not defined"
[code]

[2014-07-10 20:06] temoto opened #106 "Python3 TypeError: sequence item 0: expected str instance, bytes found"
[code]

[2014-07-10 20:08] temoto opened #107 "Python3 TypeError: unorderable types: NoneType() >= int()"
[code]

[2014-07-11 07:46] #105 closed, assigned to nobody

[2014-07-11 07:46] temoto opened #108 "Python3 ImportError: No module named 'urllib2'"
[code]

[2014-07-11 07:50] temoto opened #109 "Python3 TypeError: __init__() missing 1 required positional argument: 'timeout'"
[code]

[2014-07-11 07:52] temoto opened #110 "Python3 TypeError: unsupported operand type(s) for +: 'range' and 'range'"
[code]

[2014-07-17 21:45] jstasiak opened #111 "Python3 ValueError: do_handshake_on_connect should not be specified for non-blocking sockets"
[code]

[2014-07-18 05:40] #102 closed, assigned to nobody

[2014-07-18 05:40] #103 closed, assigned to jstasiak

[2014-07-18 05:40] #104 closed, assigned to nobody

[2014-07-18 05:43] #110 closed, assigned to nobody

[2014-07-31 07:23] remimin opened #114 "error:1409F07F:SSL routines:SSL3_WRITE_PENDING:bad write retry"
python 2.6.6
eventlet 0.13 version
[code]

[2014-08-12 11:27] #94 closed, assigned to nobody

[2014-08-16 22:05] cliedeman opened #118 "Python3 cannot concatenate ranges"
In Python3 range returns an generator which cannot be concatenated.

[2014-08-19 12:45] sjagoe opened #120 "Python3: SyntaxError in eventlet.green.os eventlet v0.15.1"
da87716714689894f23d0db7b003f26d97031e83 introduces a new SyntaxError in Python3.

[code]

[2014-08-19 13:21] #120 closed, assigned to nobody

[2014-08-20 20:18] ecolnick opened #122 "Memory leak seen with 0.15.1 _SocketDuckForFd and GreenPipe"
Using eventlet version 0.15.1 in Openstack, I have found that the memory consumption of the various services have increased steadily over time without any significant activity actually taking place.  Tracing the memory usage with the help from mem_top produces the following:

refs:
172560  <type 'list'> [_SocketDuckForFd:4, _SocketDuckForFd:5, _SocketDuckForFd:7, <closed GreenPipe '<fd:4>', mode '

[2014-08-21 05:51] shivaenigma opened #123 "python3 concurrency issues"
Hi,

I am using the python3 branch from github . Running on python 3.4.0 , Ubuntu 14.04
Run the attached script:

[code]

This works perfectly on python 2.7.6. On python3 some of the calls are failing with the following stack trace:

[code]

[2014-08-22 01:49] netmaid opened #124 "eventlet monkey patching on python-xmpp got error."
I'm using Ubuntu 14.04.1 LTS and installed ubuntu package recent version of python-xmpp.
And installed eventlet 0.15.1 using pip.

I've tried monkey patching on first line in my pushserver.py.
And later, try to connect xmpp server, then got error like below.
[code]

I knew GreenSSLSocket inherit SSLSocket class in python system.
So, GreenSSLSocket maybe has issuer() function.
I'm digging more and

[2014-08-23 04:51] tsg- opened #126 "Add support for sending optional headers with "100 Continue" responses"
Since WSGI is all about a single response to a single request, in order for servers
to process a PUT as a single request and at the same time pass **hints** back to the
client (for example, a payload type that the server can accept, or to inform the client
that the server expects to receive payload metadata at the end of the payload
transfer, etc), "100 Continue" response headers is pretty much on

[2014-08-27 11:50] ljz888666555 opened #132 "Modification time forward, the timer failure"
To take effect, for example, modify the local time forward one hour timer to wait one hour after

[2014-08-27 20:14] #126 closed, assigned to nobody

[2014-08-28 12:59] #101 closed, assigned to temoto

[2014-09-02 14:48] temoto opened #133 "Add changelog (NEWS) to website"
Cross link why this issue was created: https://plus.google.com/u/0/109588024482154561230/posts/S8tsjZNfJYW

[2014-09-03 19:11] gioffredo-linden opened #134 "Tpool wrapping of stdin on Win7 no longer works - should block - regression"
In version 0.14.0 of eventlet the following lines when run (Windows 7, Python version 2.7.8)
would block waiting for a character on stdin.

import sys
from eventlet import tpool
sys.stdin = tpool.Proxy(sys.stdin)
sys.stdin.read(1)

The same code now results in a traceback.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\BuildAgent\work\1e0594ad9a94447f\work\vir

[2014-09-03 22:08] temoto opened #135 "eventlet.green.ssl incompatible with Python >=2.7.9"
`_ssl.sslwrap()` does not exist in Python >=2.7.9 (since http://hg.python.org/cpython/rev/221a1f9155e2).
This causes additional error in test suite of Eventlet:

[code]

Originally reported here: https://bitbucket.org/eventlet/eventlet/issue/165/eventletgreenssl-incompatible-with-python

Eventlet SSL integration should have more attention in next releases.

[2014-09-05 11:48] ljz888666555 opened #136 "Multiple coroutine requests semaphores failure"
here is test code

[code]

[2014-09-07 13:39] #123 closed, assigned to temoto

[2014-09-16 18:12] hardys opened #137 "'maximum recursion depth exceeded in GreenSocket.__del__"
Since 8f98f8b I'm seeing the following error in the close path:

maximum recursion depth exceeded while calling a Python object' in bound method `GreenSocket.__del__` of `eventlet.greenio.GreenSocket` object

The problem may actually be in the previous commit da87716 as this seems to rework the close/delete path but I can't test that independently atm due to the coupling between the patches around

[2014-09-17 13:14] mylokin opened #139 "db_pool.BaseConnectionPool.clear doesn't update .current_size"
Method db_pool.BaseConnectionPool.clear (https://github.com/eventlet/eventlet/blob/9d05c68fa209d73ef164909f8c8173d3e67deafb/eventlet/db_pool.py#L251) does not update db_pool.BaseConnectionPool.current_size. That leads to situation when new connections could not be created.

[2014-09-23 18:02] brandon-rhodes opened #141 "Python3 eventlet.wsgi dies with “TypeError: __init__() takes 3 positional arguments but 4 were given”"
The Eventlet documentation offers the following example WSGI server:

[code]

When I run this with Python 3.4, I get an error when I try connecting with curl:

[code]

This is with greenlet==0.4.4 and eventlet==0.15.2.

[2014-09-24 23:58] harlowja opened #142 "Easily able to cause select to timeout"
I'm not currently sure the underlying issue but I am adding https://github.com/python-zk/kazoo/pull/249/files to kazoo and using 0.15.2 it easily times out continuously in its select reader/writer, https://github.com/python-zk/kazoo/blob/master/kazoo/protocol/connection.py#L219

When I switch to 0.14 (or 0.15.0) the problem goes away (no timeouts, nor select issues occur), was there a change that

[2014-09-25 16:18] #122 closed, assigned to nobody

[2014-09-28 11:40] #133 closed, assigned to nobody

[2014-10-10 08:06] #107 closed, assigned to temoto

[2014-10-10 08:22] #106 closed, assigned to nobody

[2014-10-10 08:22] #111 closed, assigned to jstasiak

[2014-10-10 08:22] #118 closed, assigned to nobody

[2014-10-10 08:22] #141 closed, assigned to nobody

[2014-10-10 15:39] shivaenigma opened #145 "ssl error"
I am using latest git code from python3.3 branch on ubuntu. Let me know if you need any more information

[code]

[2014-10-11 19:35] jstasiak opened #146 "green.urllib/urllib2 patching deprecation"
Some of remaining Python 2 test failures are caused by urllib/urllib2 reorganization, we could adapt to that but I'd rather just not have Python 3 + eventlet.green.urllib[2] support (with documentation stating this), doesn't seem worth the effort.

Any opinions?

[2014-10-12 15:21] #146 closed, assigned to nobody

[2014-10-12 16:20] julkiewicz opened #147 "Incompatibility with multiprocessing.pool in Python 2.7.x"
I get the following error when using eventlet together with gunicorn. This happens upon attempt to gracefully terminate a worker process:

[code]

Indeed, `multiprocessing.pool` seems to be based on a non-public property `_state` which seems to have three possible states `RUN` `CLOSE` and `TERMINATE`. Not sure what is the difference between `CLOSE` and `TERMINATE`. The appropriate fix would probab

[2014-10-13 14:59] #135 closed, assigned to nobody

[2014-10-13 21:08] #109 closed, assigned to nobody

[2014-10-16 17:04] hardys opened #149 "String concatenation error in some error paths"
Some error paths concatenate a string and type(foo), which results in this error, instead of the actual error related to the type mismatch:

TypeError: cannot concatenate 'str' and 'type' objects

There are occurances of this issue in eventlet/green/select.py and eventlet/hubs/twistedr.py

[2014-10-16 22:03] #137 closed, assigned to nobody

[2014-10-18 08:25] idella opened #151 "testsuite from test -0.15.2; SKIP=170, errors=10, failures=1"
from an ebuild or from the source;

reduced some unhelpful lines to shorten slightly

[code]

then ditto for

ERROR: test_is_alive (tests.patcher_test.GreenThreadWrapper)
ERROR: test_is_daemon (tests.patcher_test.GreenThreadWrapper)
ERROR: test_join (tests.patcher_test.GreenThreadWrapper)
ERROR: test_name (tests.patcher_test.GreenThreadWrapper)
ERROR: test_import_patched_defaults (tests.patcher_te

[2014-10-18 09:08] idella opened #152 "zmq.py:docstring; mass syntax errors in doc build; version -0.15.2;"
doc build yields;

[code]

for dozens of line finalised by

[code]

the build actually succeeds but it has more lines of the above than output of an effective build.

build succeeded, 63 warnings.
Build finished. The HTML pages are in _build/html.

[2014-10-18 11:20] raylu opened #153 "py3: green.threading.local is not green"
[code]

[code]

[2014-10-20 10:56] hardys opened #154 "select.get_fileno passed IOClosed object"
Since the fix for #137, the infinite recursion is fixed, but we see the issue below.

This happens when you cause an RPC timeout on OpenStack, such that the select times out, then this error happens when you reconnect the network to resolve the RPC interruption.

[code]

[2014-10-21 22:35] kennell opened #155 "Update the web crawler example on eventlet.net"
The "Web Crawler Example" examle on the main page of eventlet.net contains a URL (https://wiki.secondlife.com/w/images/secondlife.jpg) that is serving a 404, therefore running the example will throw a huge tail of errors. Might want to update that URL so it doesn't confuse people.

[2014-10-23 09:23] #155 closed, assigned to nobody

[2014-10-30 12:09] shivaenigma opened #157 "eventlet hanging"
Hi,
We are using multiple greenthreads  that fetch ssl urls , and on ocassions the whole process hangs.
Due to this our server is hanging on random intervals . FYI: Using eventlet 0.15.2 on python 3.4.0
[code]
[code]

[2014-11-04 19:03] temoto opened #159 "wsgi environ['wsgi.input'].send_hundred_continue_response public API"
HTTP specification RFC 7231 (http://tools.ietf.org/html/rfc7231#section-6.2) requires clients to accept one _or more_ 100 continue responses.

[code]

This issue is done when `environ['wsgi.input']` has `send_hundred_continue_response()` public method and WSGI app is able to call it more than once before sending proper response.

[2014-11-11 19:46] yozi-developer opened #164 "'_io.BufferedReader' object has no attribute '_sock' Python 3.4.1"
When i  open socket raise this error. I fix this by  change  in wsgi.py

[code]

[2014-11-11 22:40] #164 closed, assigned to nobody

[2014-11-11 23:05] #153 closed, assigned to nobody

[2014-11-14 03:37] novas0x2a opened #166 "Infinite trampoline loop when writing to a unix domain socket (redux)"
I am seeing exactly the same problem specified in https://github.com/eventlet/eventlet/issues/63, specifically, I am seeing the same behavior as https://github.com/eventlet/eventlet/issues/63#issuecomment-31505038.

I've tried varying software versions, and I see repro with:
python 2.7.6, eventlet 0.15.2
python 2.7.7, eventlet 0.15.2
python 2.7.7, eventlet 0.13.0

I also ran my test with the epoll

[2014-11-15 13:36] #149 closed, assigned to nobody

[2014-11-27 11:56] temoto opened #169 "monkey patch leaves blocking methods in select"
Since we're asking to patch the module, if you're planning to leave poll() as an operation which blocks all of Python, I think it's best to have huge warnings on the monkey patcher that this will not work. I think the expectation of most users would be that this function is either patched or deleted.
For reference, gevent deals with this by deleting select.poll, select.epoll, select.kqueue and sel

[2014-12-02 17:30] Mike-Baker opened #171 ""Bad file descriptor" Error occuring when websocket is closed."
Hi,
As the title suggests I have been seeing errors like the one below in server logs when closing websockets.

[code]

This stack-trace appears on the server whenever a websocket connection is closed by the client (for example by navigating away from the page). I have not noticed any problems with the functionality of the sockets or the server other than these error messages.

I have run git-bise

[2014-12-03 23:19] harlowja opened #172 "Threading.current_thread does not change when using greenthreads?"
It appears that usage of threading.current_thread() does not change when the current greenthread is different. Was this intentional?

An example that creates a simple latch that uses the current_thread() information that doesn't work when the threading module is used due to this:

[code]

When ran using `threading.current_thread()` the following (or similar) is output due to this current_thread up

[2014-12-05 17:32] jasondunsmore opened #173 "GreenSockets are not garbage collected"
I found a huge number of GreenSocket objects in [gc.garbage](https://docs.python.org/2/library/gc.html#gc.garbage) while debugging a memory leak in OpenStack Heat:
https://gist.githubusercontent.com/jasondunsmore/0bc5dbb2f83fcc5541c7/raw/13e7290b059fb0a7be7e16c4d9de26484ac1c0b6/gistfile1.txt

If I remove the [`GreenSocket.__del__()` method](https://github.com/eventlet/eventlet/blob/8931e9f7943/eve

[2014-12-16 06:21] coreywright opened #176 "test timer not cancelled on MySQL test skip"
If a MySQL test is skipped in `setUp()` (ie `@skip_unless(mysql_requirement)` decorator on `create_db()`) after `super(TestMySQLdb, self).setUp()`, then the timer created and started by the parent's `setUp()` is never cancelled because the child's `tearDown()` is never called (which calls the parent's `tearDown()` which cancels the timer).

The uncanceled timer eventually expires during a likely u

[2014-12-19 19:15] jerdfelt opened #177 "test_import_patched_defaults failure with recent setuptools"
Using a recent setuptools, the test_import_patched_defaults test will fail similar to this:

[code]

Using git bisect, I narrowed it down to this commit in eventlet:

https://github.com/eventlet/eventlet/commit/e0b30d4f77d56db96fc7fdba75bc5d1a55326260

The test passes with commit 91a7865b6581cd8754da843e09edb97c138e97de (the one immediately preceeding the e0b30d commit), but fails with e0b30d (and

[2014-12-19 22:54] jerdfelt opened #178 "wsgi tests can depend on kernel buffer sizes"
Occasionally we will see errors like this when running unit tests:

[code]

This failure can also be seen in test_006_reject_long_urls and test_030_reject_long_header_lines.

It can be reproduced by lowering the TCP buffer sizes, similar to this:

[code]

The problem occurs when the TCP buffer sizes are small, either through configuration or just having a busy server with high memory pressure. As

[2014-12-20 23:13] #176 closed, assigned to nobody

[2014-12-20 23:51] #139 closed, assigned to nobody

[2014-12-22 13:49] #159 closed, assigned to nobody

[2014-12-25 17:52] temoto opened #181 "Edge triggered epoll hub"
A bright developer Roman Timofeev has noticed[1] that our epoll hub does makes a pair of `CTL_ADD/CTL_DEL` calls for each `EAGAIN` event. He also published[2] a preliminary version of edge triggered epoll hub that does one `CTL_MOD` call for existing file descriptors. Theoretically, this is a better way to use epoll and may provide a practical performance boost.

[1] https://plus.google.com/u/0/+R

[2014-12-26 19:49] #178 closed, assigned to nobody

[2014-12-28 23:50] temoto opened #182 "SSL: make sure SNI is supported on CPython 2.7.9+"
https://www.mnot.net/blog/2014/12/27/python_2_and_tls_sni

`wrap_socket(sock, ..., server_hostname='foo.bar')`

[2014-12-30 01:23] #177 closed, assigned to nobody

[2015-01-04 14:02] liorn commented on #114
To reproduce:
1. Create 10 SSL sockets
2. eventlet.spawn 10 functions which continuously send large amount of data to that socket: `s.send(large_string)`, where `len(large_string)` is 1MB for example

Reproduces easily on my machine.

[2015-01-04 14:21] liorn commented on #114
I found the bug. Will submit a pull request soon

[2015-01-05 16:57] haypo opened #185 "threading.RLock (and threading.Condition) doesn't work on Python 3.2+ with monkey-patching"
The threading.RLock class was reimplemented in C in Python 3.2. threading.RLock doesn't use _thread.get_ident() or threading.get_ident(), but it calls directly the C function. Because of that, RLock doesn't work ("as expected") with eventlet monkey-patching. Example:

[code]

The code hangs with eventlet 0.16 on Python 3.5 (and probably also Python 3.2, 3.3 and 3.4).

I tried to reuse the Python i

[2015-01-06 07:55] blshkv commented on #124
there is a bug in xmppy lib. Here is the patch:
https://raw.githubusercontent.com/freebsd/freebsd-ports/master/net-im/py-xmpppy/files/patch-xmpp-transports.py

[2015-01-06 08:55] jrosenboom opened #186 "Pip and tar files are inconsistent for 0.16.0"
The pip install still includes files like util.py which should have been removed in the corresponding source package. This makes it quite difficult to debug issues arising due to other programs still using these modules.

This is for

https://pypi.python.org/packages/2.7/e/eventlet/eventlet-0.16.0-py2.py3-none-any.whl#md5=eb80b1a1816b3538e2d07a6b6aace4f8

vs.

https://pypi.python.org/packages/sour

[2015-01-06 19:32] temoto commented on #135
@dofelw @conslo v0.16 was released just before new year holidays.
https://pypi.python.org/pypi/eventlet/0.16.0

[2015-01-07 09:40] haypo commented on #186
I confirm.

Tarball doesn't have the eventlet.util  module:

[code]

Wheel package has the module:

[code]

[2015-01-07 11:48] temoto commented on #186
Thanks.

[2015-01-07 14:11] haypo commented on #186
I suggest to release a version 0.16.1 where the only change is the version number. Wheel files may be cached, publishing a new 0.16.0 file with different content may not fix the issue.

[2015-01-08 11:31] markgoddard opened #188 "Keep-alive WSGI server connections prevent shutdown"
In the eventlet.wsgi module, following the https://github.com/eventlet/eventlet/commit/1c30e9b39f4330babcb3665df4c1a3ba694bc6c1 changeset, the WSGI server function always waits for all threads to terminate before returning.

This was a useful change as it ensures a more graceful cleanup (although might have undesirable effects when used with the custom_pool parameter). However, if the server suppo

[2015-01-08 11:32] markgoddard commented on #188
See https://bugs.launchpad.net/keystone/+bug/1408612 for an instance of this in the wild.

[2015-01-08 11:59] markgoddard commented on #188
The following from 2012 also points out the issue. The suggested workaround is to kill the threads. This does not seem to be a clean solution to me.

https://gist.github.com/teh/1126302

[2015-01-12 17:59] tovmax commented on #124
Thank you very much for this patch, now it works!

[2015-01-12 19:12] Neetuj opened #189 "evenlet monkey patching got error "WantReadError""
I am using apnse_client for sending puch notifications which uses pyopenssl

https://bitbucket.org/sardarnl/apns-client/src/48f7115722e0fdcc12cd6f7263b55fd1f40409b2?at=default

I can see that evenlet supports pyopnessl http://eventlet.net/doc/ssl.html#pyopenssl
Now i was assuming when i monkeypatch my whole project ( which has many other libraries also which works with monkey patch) ..apns will al

[2015-01-12 23:53] tsg- commented on #186
Did we decide on what we are going to do here?  Cut a 0.16.1 release?

[2015-01-13 12:09] temoto commented on #124
@blshkv thank you.

[2015-01-13 12:09] #124 closed

[2015-01-13 13:18] dnldd commented on #124
+1 for that patch @blshkv :)

[2015-01-13 16:44] blshkv commented on #124
wow, didn't expect so many replays. Glad to help! Cheers

[2015-01-14 02:32] temoto commented on #186
Guys I just uploaded v0.16.1.
I don't know exactly how this happened, maybe should always remove build, dist, .egg-info directories. I double checked new package does not contain zombie module.

Thank you for report and reminder.

[2015-01-14 02:32] #186 closed

[2015-01-17 11:53] temoto commented on #189
Please provide more information to debug your problem:
[code]
URL to which you are trying to connect or minimal code to reproduce it.

Try to update to latest eventlet v0.16.1, there was a bug fix related to Python 2.7.9.

[2015-01-20 16:08] Arfrever opened #190 "tests/manual installed"
`setup.py` has `packages=find_packages(exclude=['tests', 'benchmarks'])`. This does not disable installation of subpackages, so installation of eventlet creates `/usr/lib/pythonX.Y/site-packages/tests/manual`.

Fix:
[code]

[2015-01-20 16:10] Arfrever opened #191 "Test errors"
Eventlet 0.16.1 has 5 errors in test suite with Python 2.7. (More failures and errors with Python 3.*.)

[code]

[2015-01-21 04:42] temoto commented on #191
Errno -9 is very strange. Please, post output of `ip a ; ip link`

[2015-01-21 05:49] XuhuiMiao opened #192 "processes are consuming more than 90% of CPU when calling send method in eventlet/greenio.py"
[Scenario]
1. Start rsyslog server.
2. Run our application.
3. Stop rsyslog server
4. Trigger a syslog in our application.
5. The thread of logging consumes 90+% of cpu.

[Description]
According to debug result, we found an endless loop found in send method, the send method would be blocked when no data was sent as description in the document(greenio.py), but unfortunately the send method returned

[2015-01-21 16:58] Arfrever commented on #191
[code]

[2015-01-22 22:29] avillacis opened #193 "MySQLdb + db_pool trigger timeout exception and hang since 0.15.1 through 0.16.1"
I wrote a moderately complex program (Elastix endpointconfig2) using eventlet. This program launches parallel network probes using eventlet and writes the result to a MySQL database. The program works correctly on a CentOS 5 setup (python-2.4.3-56.el5 python-greenlet-0.3.1-2.el5 MySQL-python-1.2.3-0.1.c1.el5 python-eventlet-0.9.12-2.el5 using poll hub) and on a Fedora 18 ARM setup (python-2.7.3-13

[2015-01-23 02:18] temoto commented on #193
Hello. Thank you for excellent bug report.

Overall description seems to fit known bug #50. Just to gather more information, please try again with environment `EVENTLET_HUB=poll` (since it worked twice in previous configurations).
Switching to green mysql-python or `eventlet.monkey_patch('MySQLdb')` ought to fix the symptoms you observe.

[2015-01-23 19:50] avillacis commented on #193
I have tried with 0.16.1 . The EVENTLET_HUB environment variable has no effect. The "poll" and "selects" hubs hang in exactly the same way. I think this is a different bug from #50.

[2015-01-24 00:11] avillacis commented on #193
Reverting the changes made by f37a87b1f8e2f09b8a30c2e947486cf0858650cd on tpool.py fixes the bug for me.

[2015-01-30 18:06] davidszotten commented on #171
hi. also running into this. did you find any more information on this?

[2015-02-06 06:39] jackyfkc opened #195 "Why multi-process could not speedup sending HTTP requests via eventlet"
I have an app to send a bunch of HTTP requests. First, I use **eventlet** and **requests** to implement it. But the performance is too low. Hence, I expected to speed it up using multi-process. A thing need to know is that the server will takes about **200ms** to handle a single request (no including network transfer).

However, the multi-process is slower than the original version. I feel so amaz

[2015-02-06 17:10] temoto commented on #195
Hello.

TL;DR: not enough information. **By pure speculation**, the server is the limiting factor (which may be caused by intentional artificial limits or resource starvation), so by adding more concurrent requests you are making each slower on average.

Here's one way to reason about this: you have limited amount of resources on both client and server: CPU cycles per time, memory accesses per tim

[2015-02-08 02:40] jstasiak commented on #114
@remimin @liorn This is an interesting issue, I spent a chunk of the day trying to reproduce the issue and debugging Python binary to make sure the only piece of code that can cause that error is being executed and it was, but the conditions inside weren't being met.

My system: OS X 10.9.5, OpenSSL 0.9.9 (I think it's 0.9.8y but I don't see the version being specified formally anywhere), Python 2

[2015-02-08 09:37] liorn commented on #114
I'm running Windows 8.1 with Python 2.6.4.

[2015-02-09 20:24] #171 closed

[2015-02-09 22:02] temoto opened #197 "too many open files with multiprocessing.dummy"
Full quote from Stackoverflow http://stackoverflow.com/questions/28418975/python-too-many-open-files-eventlet-and-multiprocessing-dummy

---
I have a Python 2.7 script running on Linux that crashes with `IOError: [Errno 24] Too many open files`. When I run `lsof -p <script_pid>` to see what files the script has open, I see an increasing number of `anon_inode` files.

This script first downloads fi

[2015-02-09 22:08] temoto commented on #171
@Mike-Baker David's fix is merged into master, could you try it? Please reopen if the issue still exist.

[2015-02-09 22:14] temoto commented on #188
Hello. Thanks for pointing this out. Indeed, select is a very good design approach here. Maybe we'll do a simple `is_alive` boolean for efficiency since there can't be any parallelism to corrupt memory anyway.

[2015-02-09 23:51] jstasiak commented on #114
Actually it's not in master yet, I was on the fence as I could not reproduce it. On the other hand if it fixes things for you it seems worth merging. @temoto: opinion?

[2015-02-10 00:57] temoto commented on #114
I actually quite like the patch if only for less copying. Merged.

[2015-02-10 00:57] #114 closed

[2015-02-10 10:25] Mike-Baker commented on #171
Works perfectly here now, thank you very much.

[2015-02-10 11:11] haypo commented on #132
FYI I backported the PEP 418 to Python 2 using ctypes:
https://bitbucket.org/haypo/misc/src/tip/python/pep418.py

[2015-02-10 13:42] temoto commented on #132
@haypo great, thank you.

[2015-02-10 14:56] haypo commented on #172
threading.get_ident() is patched, but not threading.current_thread().

[2015-02-10 14:59] haypo commented on #172
I'm wrong, I looked at eventlet/green/thread.py (thread), but I see current_thread() function in eventlet/green/threading.py (threading).

[2015-02-11 02:50] anguslees opened #198 "GreenSocket.__getatr__ subverts mro"
`GreenSocket.__getattr__` is this:

[code]

If you have a long class chain that eventually inherits from socket.socket, then (with monkey patching in effect) the above `setattr` places the method on the *instance* causing any super-classes to get skipped on the second and subsequent lookups.  This breaks pyroute2's netlink classes for example, that rely on overriding `bind` (and presumably other m

[2015-02-11 06:14] anguslees commented on #198
I see `GreenSocket.__init__` contains a few explicit attribute copies that need to be removed too.

As an interesting comparison, the `socket._socketobject` object seems to do two approaches simultaneously (at least on python 2.7).  It copies a short list of bound methods onto the instance in `__init__` and also copies a longer list of unbound methods onto the `_socketobject` class (from `_socket.

[2015-02-12 02:07] temoto commented on #198
Hello. `setattr` is speed optimization, so it would be nice to keep performance while fixing this bug. Thanks for pointing out `_socketobject` double copying approach.

I expect only a few attributes to be accessed frequently enough to benefit from this caching, so my vision of fix:
* replace `setattr` with debug log with `name`
* run real client and server programs in environment close to product

[2015-02-12 03:30] anguslees commented on #198
For my use case (trying to use pyroute2's NetlinkSocket class with eventlet), I discovered that the `__getattr__` approach just won't work.  Python won't call `__getattr__` when calling via super(), so if a subclass overrides a particular method (eg `bind`) which calls `super(MyClass, self).bind(*args)` then `GreenSocket.__getattr__('bind')` will not be invoked.

As far as I can work out, you *hav

[2015-02-12 03:41] temoto commented on #198
Thank you for more details on getattr/super, I didn't know that.

Could you share the code that doesn't work so it's easier to write tests for this issue?

[2015-02-12 04:33] anguslees commented on #198
See the 'before' version of the above pyroute2 pull request.

A simpler test case might be something like:

[code]

[2015-02-13 09:32] #108 closed

[2015-02-13 09:43] temoto commented on #145
@jstasiak please comment if this issue is supposed to be fixed with #199 merged?

[2015-02-13 09:51] temoto commented on #6
Thanks to huge amount of work by @jstasiak status of Eventlet Python3 support has changed from "something in development" straight to Beta. As in please try it in your real world applications because all tests pass. It will be part of v0.17 release this month.

If you find some particular issues, please don't hesitate to report them.

[2015-02-13 09:51] #6 closed

[2015-02-13 18:04] jstasiak commented on #145
To the best of my knowledge, yes.

[2015-02-13 20:36] temoto commented on #145
@shivaenigma please, try again with recent master.

[2015-02-15 09:07] bitnumus commented on #145
@temoto I will test it this week and let you know

[2015-02-16 10:26] andresm66 opened #201 "TypeError: wrap_socket() argument 1 must be _socket.socket, not GreenSocket"
Hi so Im having this issue whenever i try to open an https url, im not sure if im doing something wrong but i even get this with just the example on ssl usage from the website

[code]

[2015-02-16 18:01] jstasiak commented on #201
Hi, can you provide the following please? It should make understanding the issue easier.

* Python version
* Eventlet version
* full stack trace

[2015-02-16 18:15] andresm66 commented on #201
yeah sorry here it is

python version 2.7.9
Eventlet 0.16.1

Traceback (most recent call last): File "", line 2, in File "/opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/eventlet/greenthread.py", line 175, in wait return self._exit_event.wait() File "/opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/eventlet/event.py", l

[2015-02-16 20:05] temoto commented on #201
Formatted. Surround with triple backquote (```) to paste code in Github.

[2015-02-19 09:32] davidszotten opened #202 "websocket text vs binary"
when websockets13 support was added, the implementation chose to use `str` vs `unicode` to decode whether to encode the frame as text or binary data https://github.com/eventlet/eventlet/commit/849d45682fba7a2a1f16c39f26ad4f2dab80cffc#diff-183725cd5b59ba3b002fae7d2ccc133aR577

For python 2, this behaviour seems unexpected (and is exemplified by e.g. `examples/websocket.py` being broken as of that m

[2015-02-19 19:02] rochacbruno commented on #124
:+1:  thanks @blshkv I am using your fork until the official is not updated.

[2015-02-20 18:43] fradeve commented on #124
:+1: thanks @blshkv this has prevented me to be stuck on a thing I'm working on :dancer:

[2015-02-23 05:11] temoto commented on #8
Just released v0.17 with full Python3 support and new IPv6 support. Please, try it.

[2015-02-23 05:11] #8 closed

[2015-02-23 10:20] vikt0rs commented on #6
@temoto should we also add python 3 to the classifiers list in setup.py to announce py3 support in pypi obviously?

[2015-02-23 10:23] thedrow commented on #6
@temoto It's always a good idea.

[2015-02-23 12:56] ekarlso opened #203 "ipv6 patch breaks dnspython reverse.from_address function"
I suspect https://github.com/eventlet/eventlet/commit/a6ce444265d36fb23361809d40da73caf4864487 is the culprit.

I have verified that before the commit it works fine before the commit.

Example:
[code]

[2015-02-23 12:57] kiall commented on #203
Downstream bug against OpenStack Designate - https://bugs.launchpad.net/designate/+bug/1424621

[2015-02-23 13:05] ekarlso commented on #203
https://bitbucket.org/eventlet/eventlet/issue/169/ipv6-patch-breaks-dnspython < bb bug

[2015-02-23 14:22] temoto commented on #203
Thank you, bugfix release is coming soon.

[2015-02-24 03:18] TOANLAB commented on #124
@blshkv, using the patch will eliminate the errors however I am stuck in the authentication part know:

jid     =  xmpp.protocol.JID(username)
jidpass = password
tojid   = xmpp.protocol.JID( touser)
cl  =  xmpp.Client(jid.getDomain(),debug=[])
cl.connect( ( 'jabber.no-sense.net', 5222 ) )
cl.auth( jid.getNode( ), jidpass ) #Failed

The code above works fine for most cases however won't work with e

[2015-02-24 03:34] blshkv commented on #124
sorry, no idea. I'm actually not using eventlet.
Please open a new bug report and submit all details.

[2015-02-24 10:19] vikt0rs opened #204 "Python 3: `Bad file descriptor` error on green subprocess.Popen.stdin.close"
I got the ``OSError: [Errno 9] Bad file descriptor``when I tried to run the following code [1]. See full traceback at [2]

[1] http://paste.openstack.org/show/181120/
[2] http://paste.openstack.org/show/181124/

[2015-02-24 10:22] vikt0rs commented on #204
btw, the following code [1] fixes this issue, but I'm not sure, that this is totally correct. @jstasiak @temoto - can you please look there.

[1] http://paste.openstack.org/show/181126/

[2015-02-24 11:04] kiall commented on #203
Hey @temoto - Any luck finding the root cause? I've dug about as far into it as I can given my lack of experience with eventlet's codebase, and came up empty ;)

[2015-02-24 11:14] temoto commented on #203
@kiall not yet, debugging

[2015-02-24 13:58] temoto commented on #203
The problem is in patching `dns.name.Name`. Fix will be released today.

[2015-02-25 03:36] temoto commented on #203
v0.17.1 with this bug fixed is out on PyPi. Thanks for reporting.

[2015-02-25 03:36] #203 closed

[2015-02-25 03:42] temoto commented on #6
@vikt0rs @thedrow done in v0.17.1 (on PyPi). Thanks!

[2015-02-25 04:04] temoto commented on #204
I think at the very least it needs OSError errno check to hide only this particular exception. Will post more info later.

Convenience copy-paste:
test
[code]

traceback
[code]

patch
[code]

[2015-02-25 04:20] temoto commented on #204
@jstasiak emerge. You may possess the wisdom on this one.
[code]
`GreenPipe` is now a function in `greenio/py3.py` so that type check couldn't work. I can't invent the proper fix right now, too tired. Do you have anything in mind?

[2015-02-25 07:16] jstasiak commented on #204
@temoto Is this code responsible for this bug? Looks tricky but I'll have a look later today

[2015-02-25 10:34] temoto commented on #204
@jstasiak I'm not sure it's responsible, but looks related and looks Python3-broken anyway.

[2015-02-25 18:16] kiall commented on #203
Thanks :) Sadly, the fixed version has highlighted other issues in our code / tests .. Whoops! Either way, the original issue does seem to be fixed and I suspect the remaining issues are all ours to fix.. Thanks!

[2015-02-26 04:38] prometheanfire commented on #151
I don't have this issue with 0.17.1

[2015-02-26 07:10] jstasiak commented on #204
I took a quick look but didn't come up with a solution right away, unfortunately I don't have much time to spend on it at the moment.

[2015-02-26 09:04] temoto commented on #151
Great, thanks for testing.

[2015-02-26 09:04] #151 closed

[2015-02-26 13:08] bitnumus opened #205 "Correct way to import urllib? import error since 0.17"
I'm getting an ImportError on "urlopen" since the upgrade to 0.17. What has changed?

I've tried various imports looking at urllib docs this should work?

`from eventlet.green.urllib import request`

Using python 3

[2015-02-26 13:19] bitnumus commented on #145
@temoto I'm now receiving an import error for urllib, what changed? i opened an issue regarding this also.

[2015-02-26 13:29] temoto commented on #205
[code]
What is different in your environment?

[2015-02-26 13:30] vikt0rs commented on #205
Seems to be, that @bitnumus trying to run this example - [1] with python3

[1] - http://eventlet.net/doc/examples.html#web-crawler

[2015-02-26 14:26] bitnumus commented on #205
@temoto Apologies, it seems PyCharm didn't pick it up but it does in fact work. Sorry!

[2015-02-26 14:26] #205 closed

[2015-02-26 16:52] bitnumus commented on #145
@temoto recent master seems to have broken our current code due to import errors with urlopen, so i'll have to fix this and take another look.

However, i wrote another script to test "requests" lib with eventlet and if i try to use a full poll of 1000 requests i get the same error as in this issue. Is it likely there will be full support for requests library in the future rather than through monk

[2015-02-26 17:00] temoto commented on #145
@bitnumus do you mean "ssl.SSLEOFError: EOF occurred in violation of protocol" ? Can you show the code?

[2015-02-27 02:47] shakeelmohamed commented on #201
+1

[2015-02-27 15:03] bitnumus commented on #145
@temoto Yes thats the same error. I quickly wrote a script to find valid google picasa profiles that replicates the issue for me. Things run fine then all of a sudden it will spit out tons of tracebacks all with the resulting final line:

urllib3.exceptions.SSLError: EOF occurred in violation of protocol (_ssl.c:598)

http://pastebin.com/NnTpakmm

[2015-02-27 16:07] vikt0rs opened #206 "Example from documentation fails with python 3"
The first example from official documentation - [1] - fails  with the following error:

[code]

Python documentation tells, that urllib2 module has been split across several modules in Python 3 named urllib.request and urllib.error.

[1] http://eventlet.net/doc/index.html#eventlet-documentation

[2015-03-02 21:53] brantlk opened #207 "wsgi greenpool assertion failure on waitall"
https://github.com/eventlet/eventlet/commit/1c30e9b39f4330babcb3665df4c1a3ba694bc6c1 added some code to call pool.waitall() in the finally block for wsgi.server.

pool.waitall() asserts that `greenthread.getcurrent() not in self.coroutines_running`, so that if I'm running a wsgi.server in a green pool then it'll always assert when breaking out of the accept loop.

I don't know what the fix is othe

[2015-03-03 16:08] imazor opened #208 "RuntimeWarning when using eventlet for patching requests"
Hi,
I am getting the following warning while using requests with eventlet:
`/usr/local/lib/python2.7/site-packages/requests/utils.py:74: RuntimeWarning: Parent module 'requests' not found while handling absolute import from netrc import netrc, NetrcParseError`

this is my use for the patching:
import eventlet
Monkey-patch.
requests = eventlet.patcher.import_patched('requests')

Export same items a

[2015-03-03 16:23] temoto commented on #208
Could you try `import_patched('requests.__init__')` ?

[2015-03-04 08:47] imazor commented on #208
Looks like it solves the issue.

Thanks.

On Tue, Mar 3, 2015 at 5:23 PM, Sergey Shepelev <notifications@github.com>
wrote:

--
*--------------------------------------------------------------------------*

*Igor Mazor*
Senior Data Engineer

Rocket Internet AG  |  Johannisstraße 20  |  10117 Berlin  |  Deutschland
skype: igor_rocket_internet | mail: igor.mazor <http://goog_862328191>
@rocket-intern

[2015-03-04 10:19] temoto commented on #208
Note: this issue is fixed when `import_patched` does this `__init__` trick automatically.

[2015-03-04 10:20] temoto commented on #208
Closing as duplicate of #7 then. Thanks for providing more info how to reproduce it.

[2015-03-04 10:20] #208 closed

[2015-03-05 11:59] imazor opened #209 "disable patcher.monkey_patch"
Is there way to disable the monkyk patch during run time ?
For example in case I need to use monkey_patch(all=True) for one part of the program,
but dont want this be applied for other parts of my program since it affects on other stuff in a way that I dont need.

I thought that using monkey_patch(all=False) or even specifying the exact module that need to be "unpatched" monkey_patch(socket=False)

[2015-03-05 12:05] temoto commented on #209
There is no reliable way to do "not be applied for other parts of my program". It's very rare that you control all points in code and their order of execution when something may import something else. And once things are imported, they tend to stay in `sys.modules` for good.

If you really want to shoot in your foot, here's how to disable monkey_patch function:
[code]

Though most likely, you need

[2015-03-05 12:22] imazor commented on #209
well, I am definitely do not want to shoot in my foot )))
I will try to extend regarding my problem, maybe you will have other idea
for me.

I am using code from following answer:
http://stackoverflow.com/questions/4720735/fastest-way-to-download-3-million-objects-from-a-s3-bucket
in order to download in parallel files from s3 bucket.
In the answer they use patcher.monkey_patch(all=True).
After th

[2015-03-05 12:30] temoto commented on #209
That's eventlet side problem. There is not fully understood incompatibility between eventlet and multiprocessing. They rarely occur together so it's not a top priority, sorry. You may try following:

* `monkey_patch(thread=False)`
* split into two programs, one with monkey_patch, second with multiprocessing
* if you happen to do it in Python3, please try this patch https://github.com/eventlet/even

[2015-03-05 12:40] imazor commented on #209
the first solution thread=false, I already tried.
I am getting this error:
raceback (most recent call last):
  File "run_adjust_etl.py", line 109, in <module>
    a = AdjustParser(output_dir=PARSED_DATA_OUTPUT_DIR, adjust_log_fp=f,
del_old_csv=del_old_csv, print_log_msg=False)
  File "/home/imazor/foodpanda_dwh/adjust_etl/adjust_logs_parser.py", line
46, in __init__
    self.parsed_csv_files = sel

[2015-03-05 12:50] temoto commented on #209
Yeah, disabling `monkey_patch` is not supposed to help, because most likely all relevant modules have been imported already. Further foot-shooting options would be to try to revert `monkey_patch` by cleaning `sys.modules`, but that's a road to hell, really.

I just tried trivial example and it works. So your code would help.
[code]

[2015-03-05 14:23] imazor commented on #209
ok, following your example, I have tried to create something similar to
what I have.

import eventlet
eventlet.monkey_patch(thread=False)
import multiprocessing as mp
from multiprocessing import Manager

def foo(x):
  print x*x*x

pool = mp.Pool(3)
results = pool.map(foo, range(10))
manager = Manager()
q = manager.Queue()

without the manager.Queue() all works fine.
However with, I am getting:
Tra

[2015-03-05 15:09] temoto opened #210 "multiprocessing compatibility"
eventlet introduces difference in semantics between socket (blocking) and underlying file descriptor (non-blocking). multiprocessing grabs raw file descriptors off socket objects, expecting fd-s to repeat socket blocking semantics, which they don't. Naturally, when multiprocessing tries to use fd-s later, it gets `EAGAIN`.
[code]

Possible solutions:

* propagate blocking semantics to (proxy) file

[2015-03-05 15:12] temoto commented on #209
Thanks you, I've found what's going on and opened a specific issue https://github.com/eventlet/eventlet/issues/210

I can't provide working patch right now, will keep you updated, though.

[2015-03-05 15:12] #209 closed

[2015-03-05 15:17] imazor commented on #210
I dont know if this can help.
But looks like gevent have same issue:

http://stackoverflow.com/questions/8678307/gevent-monkeypatching-breaking-multiprocessing

[2015-03-15 17:06] shettyritesh commented on #209
Hello,
Is there any solution to this. I am facing this issue too. My user story is to listen on a RabbitMQ using oslo messaging which in turn uses Eventlet. Once message is received i use ansible to process the request which uses multi processing. I get the exact same error as shown above.

[2015-03-15 17:08] shettyritesh commented on #210
Hello,
Is there any solution to this. I am facing this issue too. My user story is to listen on a RabbitMQ using oslo messaging which in turn uses Eventlet. Once message is received i use ansible to process the request which uses multi processing. I get the exact same error as shown above.

[2015-03-15 18:23] rouge8 opened #213 "PyPy + eventlet + urllib3: ValueError: file descriptor cannot be a negative integer (-1)"
When using urllib3's connection pooling with PyPy 2.4/2.5 on both OS X and Linux with eventlet 0.17.1, I get occasional file descriptor errors:

[code]

I have [sample code and reproduction instructions in a separate repo](https://github.com/rouge8/pypy-eventlet-bug). I've also opened an [issue in the PyPy tracker](https://bitbucket.org/pypy/pypy/issue/1941/pypy-eventlet-urllib3-valueerror-file).

[2015-03-15 22:46] temoto commented on #213
@rouge8 good news, I now have Mac to debug this issue. Bad news, the most I can offer this week is short talk. What immediately strikes my attention is `range(10000)` loop. Please, post `ulimit -n` and if it's less than 40k, try to increase it for both server and client processes. One way to increase nofile limit is /etc/security/limits.conf, another way is root shell:

[code]

[2015-03-15 22:56] rouge8 commented on #213
When I was initially encountered this with eventlet 0.15.2, the loop only needed to go to 1000 to reliably crash. Just tried Ubuntu 14.04 with a ulimit of 150100:

[code]

[2015-03-15 23:36] temoto commented on #210
@shettyritesh if that's a possible solution for you, patch multiprocessing stdlib or copy it into your virtualenv with something along these lines:

**WARNING: untested dirty hack ahead**

[code]

[2015-03-15 23:37] temoto commented on #210
Patch above is not an "official recommended solution", but rather a quick dirty workaround in case you really need it fast.

[2015-03-15 23:40] temoto commented on #213
@rouge8 thanks for quick response. Since first report was from another OS, please, also run the same test on same Ubuntu but without modifying ulimit. (still print `ulimit -n` value for info though)

[2015-03-16 00:55] shettyritesh commented on #210
This patch didn't work for me. i made changes to the
To be clear the error i am getting is as below

/usr/lib/python2.7/multiprocessing/connection.py

2015-03-14 23:20:33,847 - root - ERROR - Error in executing playbook[Errno 11] Resource temporarily unavailable
Traceback (most recent call last):
  File "/opt/stack/venv/lib/python2.7/site-packages/attis_server-1.0.0a1-py2.7.egg/attis/engine/conten

[2015-03-16 03:00] temoto commented on #210
Yes, it was supposed to cure that exact error. It seemed like a viable idea, though I didn't test it. I'm sorry, can't help more today. Please, wait for working fix.

[2015-03-16 03:23] rouge8 commented on #213
`ulimit -n` was 1024.

[code]

[2015-03-20 14:58] temoto commented on #204
@vikt0rs please close this issue only if you have no problem with recent master.

[2015-03-20 15:22] vikt0rs commented on #204
@temoto - I've run tests with the recent master and do not observe this issue anymore

[2015-03-20 15:22] #204 closed

[2015-03-23 15:27] vikt0rs commented on #206
@temoto should we care about this?

[2015-03-24 08:24] temoto commented on #206
Yes, now examples in documentation should contain separate Python3 snippets like this:
[code]

[2015-03-25 12:02] imazor opened #216 "mysql warning"
Hi,

I am using evenlet with mysql and getting the following mesage:
/usr/local/lib/python2.7/dist-packages/eventlet/tpool.py:80: Warning: Table './sandbox/pusher_log' is marked as crashed and last (automatic?) repair failed
  rv = meth(*args, **kwargs)

any ideas?

[2015-03-25 12:45] xsuchy opened #217 "Unhandled ZeroReturnError exception"
I have OpenStack instance and it uset eventlet. I got this traceback:
[code]
According to the pyOpenSSL docs ZeroReturnError means that the SSL connection has been closed cleanly.
I assume that eventlet should catch this exception and do something. E.g. return empty string.

[2015-03-25 13:38] temoto commented on #216
Hello.

That means you have a broken table in mysql. It has nothing to do with eventlet, you'd get the very same error using command line mysql client or any other. Try this for fix: http://stackoverflow.com/questions/8843776/mysql-table-is-marked-as-crashed-and-last-automatic-repair-failed

[2015-03-25 13:38] #216 closed

[2015-03-26 17:12] antocuni opened #219 "eventlet closes fd under my feet"
The following code fails under PyPy (tested with the most recent 2.5.1) with an OSError

[code]

The problem is that `._close()` is called twice on a `greenio._SocketDuckForFd` object: the first close is done explicitly by `subprocess.communicate()`, while the second is done explicitly by the `__del__`.
Under CPython, the `__del__` is executed immediately; we STILL get an OSError because we close

[2015-03-28 14:38] temoto commented on #217
Thank you, I agree, we should hide this exception. Could you please post full traceback and/or some minimal code to reproduce the issue?

`python --version` and `pip freeze` would also help.

[2015-03-28 19:37] temoto commented on #192
Thanks for bug report, and sorry for late reply. CPU burning issues generally have priority, but we have already fixed quite a few of them, so it may be a rare case, so a little more information would help.

* What eventlet version do you use? `python -c 'import eventlet; print(eventlet.__version__)'`
* What Linux distribution is it?
* `uname -a`
* Can you try the same scenario with Python2.7?

[2015-03-28 20:17] temoto commented on #190
Thank you, fixed in ee9bcc36be28c7be57b8380e508bc75f96e5c459, will do bugfix release 0.17.2 soon.

[2015-03-28 20:17] #190 closed

[2015-03-29 01:25] benmao commented on #201
+1

[2015-03-29 09:01] temoto commented on #201
Update: it only breaks in CPython 2.7.9. Versions 2.7.6 and 2.7.8 work.

[2015-03-29 11:54] temoto commented on #201
Nailed the root cause: Eventlet doesn't patch `ssl.SSLContext.wrap_context`. So far httplib doesn't recognize my patched SSLContext. To be continued.

[2015-03-29 12:36] temoto commented on #201
@andresm66 @shakeelmohamed @benmao please test https://github.com/eventlet/eventlet/commit/b2e5146dec8f6fe075884dcf788f64a16bc3fec3
What we are looking for is urllib2.urlopen works with HTTPS, but everything else also works as before.
Additional gratitude for testing it with any other Python versions.

You can install this particular version with `pip install https://github.com/eventlet/eventlet/a

[2015-03-29 22:51] shakeelmohamed commented on #201
@temoto Yep that worked!

I added @andresm66's script to `test.py` then ran the following (which got the expected error):
[code]

Then installed the updated eventlet, and it worked:

[code]

[2015-03-30 00:07] benmao commented on #201
@temoto You did a good job.

[2015-03-30 08:28] temoto commented on #201
Thanks for testing, the fix is merged into master and will land in upcoming bug fix release.

[2015-03-30 08:28] #201 closed

[2015-03-30 17:13] andresm66 commented on #201
sorry i couldn't test it earlier i was kinda busy with the work, either way i have installed the version and it works now, thanks for the fix, and I'm looking forward to see the next update

[2015-03-30 22:04] temoto commented on #219
Hello, @antocuni thanks for bug report and patch. Please see if this version fixes the issue you described 2b6a7cef378ce64989d1531d9311890cd6c1cd6b
It actually contains a slightly modified version of your test code, but I'd like a second confirmation.

[2015-03-31 01:23] mcsaucy opened #220 "Backport fix for #137 to v0.15.2?"
#137 appears to fix issues I'm seeing in v0.15.2. A major user of eventlet has this issue (Openstack) and it can't update eventlet past v0.15.2.
This appears to be fixed with cb5ae33ca164b050498a346da8b0fd99bf801dab and 47b85e19b5a1ee3af44d515d26692b3ff7a80fd3. The tests for the latter commit rely upon larger, over-arching changes to the testing infra. As such, I've created be4ca3a8490b72be35a941a

[2015-03-31 07:48] temoto commented on #220
I don't see how backporting would help, considering Openstack can't update eventlet past v0.15.2?

Why can't they update it? Fixing that issue would bring many other good news as well.

[2015-03-31 09:57] antocuni commented on #219
Hello @temoto: yes, I confirm that the bug is fixed with your patch. Thank you!

[2015-03-31 13:18] #219 closed

[2015-04-01 05:07] six8 opened #221 "Backport of #135 to 0.14.0 ready for review"
I've backported the fix to #135 to get Python 2.7.9 compatibility. We can't upgrade to 0.14+ yet. I can't do a pull request because there's only a tag for 0.14. Can a v0.14 branch be created so I can PR?

Relevant fix is at https://github.com/pulsesecure/eventlet/tree/135-backport-sslwrap

[2015-04-01 12:15] temoto commented on #221
Hello, @six8

* Eventlet project does not require forks and pull requests. You can send in old school patches or just pieces of code using any transport convenient for you.
* Granted there would be v0.14 branch, I frankly don't know what to do with it:
* We don't change old release tarballs on PyPi, because that would mean inconsistency: several states of code are called by same version number. Is

[2015-04-01 17:23] mcsaucy commented on #220
Thanks for the reply. I ended up digging a little deeper into why Openstack can't update Eventlet. It seems v0.16 removed deprecated code that chunks of Nova rely upon (namely, event.util), so locking requirements to Eventlet v0.15.2 was applied as a temporary fix. The commits I mentioned originally cover the fixes required for #137, but none of the Openstack-breaking changes that went into v0.16.

[2015-04-01 17:59] temoto commented on #220
Ah yes, the `eventlet.util` removal. Who knew somebody actually used it! I'll try to announce our API compatibility changes better next time.

So there's no need in backport after all? I read they've done `patcher.original('socket')` in mid January this year, some 2 months ago.

[2015-04-02 20:23] six8 commented on #221
I created 0.14.1 and that's what I'm using, only from my fork. What I really meant was I can't upgrade to 0.15+.

[2015-04-02 22:34] temoto commented on #221
@six8 please note you may also need this patch https://github.com/eventlet/eventlet/commit/b2e5146dec8f6fe075884dcf788f64a16bc3fec3 for SSL client connections. Affects httplib which is used by almost every Python HTTP client. Are you willing to test these two patches together?

[2015-04-03 02:54] temoto commented on #217
@xsuchy ping

[2015-04-03 02:56] temoto commented on #219
FYI: fix is included in v0.17.2 release, available on PyPi.

[2015-04-03 02:56] temoto commented on #201
FYI: fix is included in v0.17.2 release, available on PyPi.

[2015-04-03 03:06] temoto commented on #157
@shivaenigma could you try recent master or v0.17.2 and say if the problem was fixed or not?

[2015-04-03 03:11] temoto commented on #154
Just copying Jacub's comment here for ease of future debugging:

[2015-04-03 03:51] temoto commented on #72
Now that site doesn't allow to download PDF without registration. Not the behavior I'd like to support.

[2015-04-03 03:51] #72 closed

[2015-04-04 00:00] mcsaucy commented on #220
You appear to be correct. Seeing as #137 fixed my original issue and I'm now running a version greater than 0.15.2, I think we're set. Thanks!

[2015-04-04 00:00] #220 closed

[2015-04-05 09:23] xsuchy commented on #217
The full traceback is (from little bit different situation):
[code]
I am afraid that I do not have smaller reproducer then "Install Openstack on CentOS7 and set endpoints to https" which would take you several days to set up :(

[code]

None python module is installed using pip. Everything comes from CentOS or OpenStackRDO yum repos. However:
[code]

[2015-04-05 09:31] xsuchy commented on #217
One more full traceback from different log. This one is better formated:
[code]

[2015-04-05 12:11] temoto commented on #217
Thank you.

[2015-04-06 04:03] jason-ni opened #222 "eventlet.hubs.trampoline throws socket.timeout exception without 'timed out' argument"
The OpenSSL support in eventlet has small flaw that it throws socket.timeout exception without 'timed out' string argument. Bellow is a minimized script to reproduce this issue:
[code]
It outputs an unexpected exception other than socket.timeout.
[code]
The IndexError exception was thrown from socket.py of Python runtime lib.
[code]
We can see that "args" is not allowed blank here.
So I think the

[2015-04-06 04:56] six8 commented on #221
Ah, I see. Will do.

[2015-04-06 05:13] temoto commented on #222
Thank you! Will look into it soon.

[2015-04-07 13:22] davidszotten commented on #213
only had a brief look so far, but i think armin rigo's suggestion might have some good legs: https://bitbucket.org/pypy/pypy/issue/1941/pypy-eventlet-urllib3-valueerror-file#comment-16423896

"It would be possible, for example, that two different objects have both a reference to some version of a socket object; one of the objects is forgotten; and that forgotten object has a __del__ that closes th

[2015-04-07 20:16] temoto commented on #213
@rouge8 there was a PyPy double fd close bug fixed recently. Could you try to run your test again with recent master version of eventlet?

[2015-04-07 22:03] rouge8 commented on #213
On OS X 10.9:

[code]

It fails at the same request 1946 every time. I don't have access to the Ubuntu machine I was testing on, but I can launch a VM and run the tests there if that helps.

[2015-04-09 10:09] haypo opened #223 "threading.Threading.join() broken in Python 3.4 with monkey-patching"
Hi,

threading.Threading.join() doesn't work in Python 3.4 with monkey-patching. It's related to the new "thread-state lock" introduced in Python 3.4:
https://hg.python.org/cpython/rev/d52b68edbca6
https://bugs.python.org/issue18808

This lock is related internally when the C thread exits. So it doesn't work well with monkey-patching.

My pull request #187 fixed threading.Condition, but it also tr

[2015-04-09 12:25] haypo commented on #223
I wrote a fix in pull #224. With this fix, tests of the Oslo Messaging project now pass on python 3.4 with eventlet and monkey-patching!

And if my pull request is merged, would it possible to prepare a new release? It would allow me to port more OpenStack projects to python3! Eventlet is blocking more than 10 projects because it doesn't work well on python 3. It looks like this issue is the last

[2015-04-09 13:04] temoto commented on #223
Congratulations with Oslo/Py3.4! I'll bake 0.17.3 bugfix some time soon. And thanks for letting me know of blockers, I was going to communicate with somebody from OpenStack team to know if there are any eventlet blockers for you guys.

[2015-04-09 13:04] #223 closed

[2015-04-11 11:31] mkai opened #226 "HTTPS/SSL failure when using requests library on Python 3.4"
I use Python 3.4.3. HTTPS requests using the requests library normally work fine:

[code]

However, if eventlet is imported, I get the following error:

[code]

I read about bugfixes to the SSL wrapping on Python >= 2.7.9. Is this related?

[2015-04-11 15:41] Aayush-Kasurde commented on #70
@temoto Could you please elaborate this further ? I can help you in this.

[2015-04-11 15:46] Aayush-Kasurde commented on #45
@temoto Could you please elaborate this issue ?

[2015-04-11 17:55] temoto commented on #45
@Aayush-Kasurde basically, it'd be useful to run sphinx checks on build. See link from tox documentation.

[2015-04-11 17:58] temoto commented on #70
@Aayush-Kasurde Well, you can start by copying contributing.md from h5bp link and adapting its text to what eventlet.net index page says about contributing patches. In the end we need to provide a clear text description what's required and not to contribute to Eventlet.

[2015-04-11 18:08] temoto commented on #226
Just importing eventlet should not change anything. Anyway the error you observe does not look like it's related to SSL fixes. To investigate deeper, please, post
[code]

[2015-04-11 19:51] mkai commented on #226
I can reproduce the error using the following steps:

[code]

Hope that helps.

[2015-04-11 23:56] temoto commented on #226
Yup, it reproduces on my machine. Counter intuitive stuff. Thanks for report. I'll fix it soon.

[2015-04-12 04:38] temoto commented on #213
Thanks for testing again. Somehow it slipped through my inbox attention. Will check what I can do next week, but this issue is crying for warm contributor hands.

[2015-04-12 05:06] temoto commented on #70
@Aayush-Kasurde I appreciate your willingness to help, especially with those non critical issues, as I'm bad at keeping balance to which things require attention. And as each project is unique, so are contribution rules. The goal here is to provide actual recommendations for our project. It would work best if you study some closed pull requests to identify Eventlet contribution guidelines.

[2015-04-16 15:39] samstav commented on #226
I can confirm that this happens in python 2.7.9 as well, which uses 3.4's ssl module backported.

[2015-04-16 21:39] jstasiak commented on #226
I can confirm it happening on CPython 2.7.9, seems to be introduced by https://github.com/eventlet/eventlet/commit/b2e5146dec8f6fe075884dcf788f64a16bc3fec3

[2015-04-17 18:52] harlowja opened #230 "Able to cause '_wait_for_tstate_lock' inability to join in threads"
Something interesting that might be some underlying issue with the current eventlet (0.17.3) + python 3.4.

It appears it is very easy to cause ``_wait_for_tstate_lock`` of threads to stop working (and therefore join() to not work) without even using eventlet (but just by late importing it).

An example that seems to reliably cause this to occur (100% of the time?):

[code]

An output from a run o

[2015-04-17 19:00] harlowja commented on #230
To make a env, just get a 3.4 virtualenv:

[code]

Run example, lock up...

Ctrl-c (see that it locks up in ``_wait_for_tstate_lock``); even though eventlet is never used (besides being imported late)...

[2015-04-17 19:25] harlowja commented on #230
A friend noted this doesn't occur on a mac (unknown why), but it does occur on ubuntu 14.04 (using 3.4) and python3.4 on rhel5.4 (custom build/altinstall of 3.4) and rhel6.5 (custom build/altinstall of 3.4) and fedora 21 (using 3.4).

[2015-04-17 19:32] dims commented on #230
@harlowja i can see it on a mac - output here - http://paste.openstack.org/show/204505/

[2015-04-17 20:09] dims commented on #230
@harlowja - this seems to fix the problem for me - http://paste.openstack.org/show/204506/

[2015-04-18 05:52] rouge8 commented on #213
I don't know that I can track down and fix it, but if there's anything else I can do to help debug (even if time consuming), I'm open for suggestions.

[2015-04-20 08:38] haypo commented on #230
It looks like the issue comes from importing eventlet for the first time in a thread. The bug is in eventlet.patcher.original(): this function loads threading.py twice, it drops the existing module sys.modules['threading'] and reloads it. So we have two instances of the threading.py module, which is probably a bad idea :-)

dims's patch looks like the good approach, but I think that we should chec

[2015-04-20 09:30] haypo commented on #230
Oh, I was confused by already_patched: already_patched keys are not really module names, but more categories. For example, there is "thread" for _thread, thread and threading modules.

[2015-04-20 09:34] haypo commented on #230
Oh, I also forgot to mention an obvious workaround: import eventlet in the main thread before starting threads.

[2015-04-20 15:26] harlowja commented on #230
As for the obvious workaround, with plugins (via entrypoints) that's not really possible (especially when a entrypoint loads eventlet); which is the case I was seeing, is that a thread loads an entrypoint (which at this point loads eventlet).

[2015-04-20 16:01] temoto commented on #230
@dims @harlowja could you test https://github.com/haypo/eventlet/commit/6cc3a9f459427d75238469ad3bc4ce92d2b2851c ?

[2015-04-20 16:06] haypo commented on #230
FYI @harlowja's first example pass with my patch.

[2015-04-20 20:21] harlowja commented on #230
Seems to be ok; although as u said jenkins seems to be breaking with that patch?

[2015-04-20 20:27] temoto commented on #230
Hopefully selects hub fix will not change the code much.

[2015-04-29 21:19] istalker2 opened #232 "GreenPool fails if first thread raises exception"
When executing several functions in parallel using GreenPool.imap the normal behavior is to wait until all collection items are processed even if some of them raise exceptions (this is test1() in the code below). However if first function raises exception imap doesn't wait for other threads to accomplish. This is demonstrated by test2(). If we run test1() the output for test2() will be different f

[2015-05-02 03:02] temoto commented on #226
Fixed in master a07f836 , thanks to @stuart-mclaren

[2015-05-02 03:02] #226 closed

[2015-05-04 03:43] hswayne77 commented on #137
hi, everyone, I've met the same errors, my eventlet version is 0.15.2

anyone has some suggestions to resolve this issue ?  thks

May  4 11:34:42  Exception RuntimeError: 'maximum recursion depth exceeded' in <bound method GreenSocket.__del__ of <eventlet.greenio.GreenSocket object at 0x8fe7b10>> ignored
May  4 11:34:42  'maximum recursion depth exceeded' in <bound method GreenSocket.__del__ of <e

[2015-05-04 04:50] temoto commented on #137
@hswayne77 update to latest version. Today 2015-05-04 it's `0.17.3`.

[2015-05-06 15:31] javacruft commented on #192
I think we're seeing this issue with some parts of OpenStack - specifically I can reproduce this problem at will on Ubuntu 14.04 with OpenStack Icehouse Glance - see https://bugs.launchpad.net/ubuntu/+source/python-eventlet/+bug/1452312.

Eventlet in 14.04 is at 0.13.0.

[2015-05-06 15:59] temoto commented on #192
We've had multiple CPU burning fixes since 0.13, so trying with a more recent version of eventlet is one way to move towards solution.

But there's launchpad comment:

And that's a whole different story, because 0.16 should be CPU usage stable, so this might be a real bug still happening. I will look into this shortly after May 11. Reminders are warmly welcome.

[2015-05-06 16:01] javacruft commented on #192
To confirm - I see this same issue on 0.16.1 (which is what we released with OpenStack Kilo in Ubuntu).

I can only reproduce this with glance so-far.

[2015-05-14 06:55] xtrusia commented on #192
I'm not the expert of this. but i had some tries on this code.

when "Transport endpoint is not connected" error occures on send function

it can be catched by except statement but skipped by if statement (SOCKET_BLOCKING has ENOTCONN)

so comes unlimited loop, then hang.

so i put like below on my env

line 349 in send function
####################################################
            exce

[2015-05-15 01:16] temoto commented on #192
@xtrusia thank you very much, I've pushed a commit with your idea but one `get_errno` call and `==` instead of `is` comparison, all credit is still yours of course.
@XuhuiMiao @javacruft please test https://github.com/eventlet/eventlet/commit/ed0655333007fe97624b745e92deb407d192022c

[2015-05-19 05:33] rouge8 commented on #213
Tested again with newer versions, still fails:

[code]

[2015-05-21 22:28] temoto commented on #192
ping

[2015-05-25 13:37] meunierd commented on #226
There are still issues around SSL and requests with eventlet 0.17.4:

Steps to reproduce:

    import eventlet
    eventlet.monkey_patch()
    import requests
    requests.get('https://google.com')
    Traceback (most recent call last):
      File "/Users/devonmeunier/.env/flux/lib/python3.4/site-packages/eventlet/hubs/hub.py", line 457, in fire_timers
        timer()
      File "/Users/devonmeuni

[2015-05-28 10:39] stuart-mclaren commented on #226
I don't see the greenlet error with a later version of requests (2.7.0)

$ python
Python 3.4.3 (default, Mar 26 2015, 22:03:40)
[GCC 4.9.2] on linux
Type "help", "copyright", "credits" or "license" for more information.

<Response [200]>

'0.17.4'

'2.7.0'

[2015-06-02 11:57] booxter opened #235 "WSGI server incorrectly logs socket address if it's UNIX, not INET"
If I pass a socket that is of AF_UNIX type with file path of /var/tmp/socket, then I get the following in my logs:

wsgi starting up on http:///:v/

This is because wsgi server assumes that the socket is not local, by constructing host and port as:

port = sock.getsockname()[:2]

And since (quoting python docs), "A single string is used for the AF_UNIX address family.", the split attempt ends up m

[2015-06-02 11:59] mangelajo commented on #235
I can confirm this bug:

2015-06-02 06:01:04.855 19623 INFO eventlet.wsgi.server [-] (19623) wsgi starting up on http:///:v/

In different places of openstack-neutron where we start wsgi servers with unix domain sockets.

[2015-06-02 12:39] booxter commented on #235
I've uploaded a fix for the start just to give a grasp of the expected fix. It probably needs some unit tests, so I don't assume it will be merged as-is; but I failed to run eventlet test suite successfully, so I will allow someone else to complete the work.

[2015-06-02 13:10] temoto commented on #235
Thanks for bug report and fix!

I'm interested what was the difficulty in running test suite? Should be a simple `tox` run, or `tox -e py27-selects` if you want to test particular environment.

[2015-06-02 13:21] booxter commented on #235
@temoto sorry, that was my patch fault. :) I've updated the repo with the fix, tests should pass now.

[2015-06-02 14:56] booxter commented on #235
There was a bug in the patch itself. I've updated the repo and added a unit test. Hopefully this is it.

[2015-06-02 14:56] temoto commented on #235
Some info for level up. Don't worry about fixing it.

[code]

[2015-06-02 14:58] booxter commented on #235
Yeah, .type -> .family is handled in the latest version.

[2015-06-02 17:35] temoto commented on #235
@booxter 3ba7b02dfacb00e51dcad8097c3854f51c2b7d71 does it look fine for you?

[2015-06-03 08:19] booxter commented on #235
@temoto +1. That's a lot better than mine. :)

[2015-06-03 11:29] temoto commented on #235
It's merged in master. Thank you.

[2015-06-03 11:29] #235 closed

[2015-06-13 07:02] temoto commented on #192
Fix is merged in master.

[2015-06-13 07:02] #192 closed

[2015-06-18 03:29] bj0 opened #236 "SeverSentEvents do not work with flask/bottle+eventlet"
I was using flask+gevent and wanted to switch to eventlet so I could use python3.  The following is an example of using a generator with bottle (same idea with flask) to create an event stream with SSE:

https://gist.github.com/bj0/89ceb572dd26a883c5f2

It was working fine with gevent, but when I swap out eventlet it stops functioning.  I get no errors, just no execution on the javascript side.

I

[2015-06-18 06:36] temoto commented on #236
Hello. Thanks for detailed reproduction script.

Here's how it works, using eventlet built-in wsgi server:

[code]

Here's where you patch `bottle.py` to accept that parameter: https://github.com/bottlepy/bottle/blob/master/bottle.py#L3021

[2015-06-18 06:44] temoto commented on #236
Another option is to modify `environ['eventlet.minimum_write_chunk_size']` before calling `start_response`.

The reason for this behavior is that Eventlet implements output buffer (4096 bytes by default), to avoid many small writes, which is exactly what you want here. Warmly welcome any ideas how to satisfy both sides without configuration parameter.

[2015-06-18 18:16] bj0 commented on #236
So there was a swallowed exception using the queue that I fixed in the gist.  I see it is working now, but it is still buffering several yields before sending anything to the browser.

Editing bottle to pass in the command *did* work, but setting the environment variable with ```os.environ``` did not seem to change anything.

As for trying to satisfy both sides, the only thing I could think of is

[2015-06-20 10:17] temoto commented on #236
It's not `os.environ`, it's WSGI environ, the first argument to WSGI application.

[2015-06-20 10:18] temoto commented on #236
I think you can access WSGI environ from bottle via some kind of request object, as it's usually the case with other frameworks.

[2015-06-20 16:42] bj0 commented on #236
I realized that after I posted about os.environ.  After your post I looked through the bottle api and found that if I change the function to the following it works:

    @app.route('/events')
    def events():
        # disable buffering for this response
        request.environ['eventlet.minimum_write_chunk_size'] = 1
        response.content_type = 'text/event-stream'
        response.cache_cont

[2015-06-20 17:23] temoto commented on #236
Great.

Note to myself and contributors: This issue is fixed when documentation clearly describes status quo with reference to generator applications, SSE and work around code example.

[2015-06-29 14:06] haypo opened #238 "eventlet.green.OpenSSL is not compatible with Python 3"
Example:

[code]

[2015-06-29 14:07] haypo commented on #238
The following pull request fixes this issue: https://github.com/eventlet/eventlet/pull/237

[2015-07-01 10:16] temoto commented on #238
Your fix is merged into master e9f19c6df4a6e97a36a974338196a5a0bda079e4
Thanks!

[2015-07-01 10:16] #238 closed

[2015-07-01 10:38] haypo commented on #238
Can you please notify me when a new version of eventlet including this fix is released? There is no urgency. It's to port OpenStack Cinder to Python 3.

[2015-07-31 15:47] Glueon opened #240 "import eventlet still patches everything"
In the docs you write:

I was working on a project which uses `eventlet` in some parts of the system and thus imports `eventlet`. Also I use HTTPretty to test some functionallity. Just a simple `import eventlet` "greens" some standard libraries thefore breaking the httpretty functionallity. It does not always break. For example if I mock an 'http' request it works fine and breaks only on 'https'.

[2015-08-01 22:08] temoto commented on #240
Hello. Thanks for reproduction code, I've used it to bisect breaker commit.

I couldn't get FakeSSLSocket error since Eventlet v0.15, but `OSError Socket is not connected` is showing up since b2e5146dec8f6fe075884dcf788f64a16bc3fec3

[2015-08-02 01:38] Glueon commented on #240
@temoto I used the the latest eventlet version. My concrete example was invoked via pytest but as far as I remember repl gives the same result.

What is interesting that this all works fine with the `responses` library.

[2015-08-11 00:27] portante opened #242 "Perhaps eventlet wsgi should switch out of chunked-read mode when consuming message body?"
The code at line 516 of wsgi.py at the time of this writing consumes the body of the message when cleaning up the connection (see #27).  If the chunked encoding is somehow bad, it appears that in this case the body won't get read properly, as the chunked-read code can raise a ValueError and terminate that loop.

Is it worth fixing that code to force a non-chunked read behavior?

[2015-08-20 20:18] croxis opened #243 "eventlet POpen unable to wrap pipe in python 3.4 when using universal_newlines"
I'm using eventlet in a flask and socketio stack. I'm attempting to use Popen to execute a long running  program and stream the stdout using eventlet to readline() in a nonblocking way.

The following example code:
[code]
results in
[code]

[2015-09-01 19:54] MarSoft commented on #189
Same problem here.
[code]

Traceback:
[code]

[2015-09-01 20:36] MarSoft commented on #189
Looks like we should use eventlet's version of OpenSSL. Here is my (very dirty) workaround, for now couldn't figure out anything better:

* in eventlet/green/OpenSSL/__init__.py fix imports to be compatible with python3 (`import rand` -> `from . import rand`)
* In apns_clerk/backends/stdio.py replace `import OpenSSL` with `from eventlet.green import OpenSSL`.
This worked for me. (Another issue is

[2015-09-05 07:08] jerzyk opened #245 "socket recv returning multiple data types"
python 3.4 - when using green sockets, most of the time socket.recv is returning bytes, but when
communication is broken, it returns string

[code]

returns:
[code]

[2015-09-05 14:46] temoto commented on #242
Thank you. Yes, it looks good for me to me to consume the rest of failed request ignoring chunked encoding.

[2015-09-05 15:38] temoto commented on #245
I tried the following code to reproduce your issue and it consistently returns bytes. What kind of "communication is broken" exactly are you experiencing?

[code]

[2015-09-05 16:14] jerzyk commented on #245
as you see, in the second part of the ticket, recv returns empty string after server closed a socket.
my example code is from a client

[2015-09-05 17:26] temoto commented on #245
Can you run the code I pasted? It does exactly that: server closes connection after 0.1s timeout, then s2 is empty `b''`. What version of eventlet do you use?

[2015-09-05 19:13] jerzyk commented on #245
eventlet 0.17.4, did not get errors on your code, here is mine (I was trying to put it into one file, but then there were no errors...)

run server, then client, stop server, assertion error shows

server:
[code]

client:
[code]

[2015-09-06 00:40] temoto commented on #245
Thank you. Indeed, it deceptively passes when client and server are just two green threads.

Error was in `eventlet/green/base.py:318:   return ''`.

[2015-09-06 07:58] jerzyk commented on #245
@temoto what's an oldest supported python version?(I could not find it in the docs) - with 2.5 supported there should be `six.b('')`

[2015-09-06 10:42] temoto commented on #245
That's not a problem, we use few 2.6+ syntax features already. Fix is merged in master 001f31f.

[2015-09-06 10:42] #245 closed

[2015-09-07 01:31] temoto commented on #242
Hello, @portante .
I think I fixed it by closing connection on `ChunkReadError` and skipping discard altogether when connection was marked for closing anyway. It took me two years to realise #27 has had this condition in title. And then original proposal in that issue makes full sense. Discarding request body is only useful for persistent connections.
It could not be generic `while sock.recv(4096)

[2015-09-07 01:45] temoto commented on #27
@mouadino hi again. Recent issues have brought this up again and I realised you was right all along. If the connection was about to be closed anyway, that's not normal browser behaviour (even for old IE). So not a big deal to just close it without reading leftovers from request body. Commit b443de3 with fix may just be merged soon. Review is warmly welcome.

I understand it's ridiculous to continu

[2015-09-07 23:18] portante commented on #242
@temoto, left a comment about discards in the non-chunked case.  Seems like we might need to discard up to `content_length - position` bytes, but perhaps I am not understanding how things work here.  What do you think?

[2015-09-09 15:58] temoto commented on #27
Fix is merged in master.

[2015-09-09 15:58] #27 closed

[2015-09-09 16:00] temoto commented on #242
Fix is merged in master, requests with declared `Content-Length` are expected to drain properly too.

[2015-09-09 16:00] #242 closed

[2015-09-13 10:30] temoto commented on #243
Thanks for bug report! Fix is merged in master 60bce42.

[2015-09-13 10:30] #243 closed

[2015-09-21 19:23] rbtcollins opened #248 "eventlet.monkey_patch() on Python 3.4 makes stdout non-blocking"
We have a test suite which writes it's output to stdout. We started observing short writes on Python 3.4:

http://paste.ubuntu.com/12513141/

[code]

Now, I could put a loop in there with a timeout etc - but that is the is synchronous codepath in subunit, because we're writing to a known quantity.

This behaviour doesn't happen on Python2.6 or 2.7 with eventlet, so its just a *bit* of a puzzle.

O

[2015-09-22 08:14] haypo commented on #248
Are you sure that standard streams (stdin, stdout, stderr) are non-blocking? I'm unable to reproduce the issue. Example with Python 3.5:
[code]

Output:
[code]

How can I try to reproduce the issue? Did you check with "strace -f -o trace" to check that fd 0, 1 or 2 is made non-blocking with fcntl()?

By default (with no redirection), all standard streams are the same device:
[code]

If you modify

[2015-09-22 09:32] rbtcollins commented on #248
I'm not no. The first report I had of this was from designate, but since then a few other OpenStack projects have followed along - look for the ones with | cat in their .testr.conf.

[2015-09-22 17:13] ctolsen opened #249 "eventlet on Python 3.5 seems to hang threading"
Demonstrated by the following:

[code]

Pasting that into a python 3.5 REPL will hang on the `thread.start()` call. If you remove the `eventlet.monkey_patch()` call, however, everything works as expected.

Any idea what might be going on here?

[2015-09-24 09:30] haypo commented on #248
Ok, I found the code.

Part1 (subunit): subunit.run.SubunitTestRunner.run() => SubunitTestRunner._list() => os.fdopen(fileno) where fileno is 1 (stdout) in my case

Part2 (eventlet): os.fdopen(fd, ...)  => eventlet.greenio.py3.GreenPipe() => eventlet.greenio.py3._open() => FileIO(fd, ...) => eventlet.greenio.py3.GreenFileIO()

And greenio.py3.GreenFileIO() constructor calls set_nonblocking(self).

[2015-09-24 09:57] haypo commented on #248
== Python 2 ==

GreePipe.write() => socket._fileobject.write() => socket._fileobject.flush() => call sendall() in a loop until the write buffer is empty

sendall() is eventlet.greenio.py3._SocketDuckForFd.sendall() which calls os.write() in a loop until all bytes are written. sendall() calls self._trampoline(self, write=True) to wait until the non-blocking file (a pipe in your case) becomes writab

[2015-09-24 10:05] haypo commented on #248
eventlet has a different behaviour on Python 2 and Python 3, but I don't know which behaviour is the "good" behaviour :-)

In subunit/run.py, I see that the code uses "stream = os.fdopen(fileno, 'wb', 0)". So it explicitly asks a unbuffered writter. On Python 3, unbuffered really means unbuffered: FileIO.write() only calls os.write() once. It *can* returns less bytes than requested, it's part of F

[2015-09-24 10:11] haypo commented on #248
Ok, I created the pull request #250 to "fix" GreenFileIO.write() on Python 3.

Again, the workaround in subunit is to call write() in a loop to write all bytes.

[2015-09-24 18:59] rbtcollins commented on #248
Yeah, I need to cater for the FileIO case - it was oversight when I added the unbuffered stuff - its a legitimate bug i nsubunit there, I just need to do some gnarly type checking to determine if I have a high or low level method - e.g. can I consult the return value of write or not.

[2015-09-24 20:06] haypo commented on #248
FYI I proposed this change to subunit: https://github.com/testing-cabal/subunit/pull/14

[2015-10-09 08:52] temoto opened #252 "is_monkey_patched(threading) false negative"
http://stackoverflow.com/questions/32452110/does-eventlet-do-monkey-patch-for-threading-module

Test:
[code]

Road to fix:

[code]

[2015-10-16 05:26] codekoala opened #255 "subprocess.mswindows renamed in python 3.5"
The ``subprocess.mswindows`` flag has been renamed in Python 3.5 to ``subprocess._mswindows``. The ``eventlet.green.subprocess.Popen`` class relies on it being named ``mswindows``.

[2015-10-19 08:40] haypo opened #256 "Need a new release for fix io.open().read() on Python 3"
Hi,

The pull request #239 adds a missing readall() method to GreenFileIO. This is required to port the OpenStack Swift project to Python 3.

It would also be nice to have the a release with the fix #248.

I created a Git branch greenfileio but then I saw that my issue was already fixed :-) It's already possible to call GreenFileIO.read() without argument: readall() is called in this case, as io.F

[2015-10-19 08:52] haypo commented on #256
Hum, it looks like eventlet master branch doesn't work for my use case in fact :-/ readall() uses trampoline(self, read=True) but the file is a regular file. In this case, epoll_ctl() fails with EPERM because regular files cannot be handled by epoll on Linux.

[2015-10-19 09:45] haypo commented on #256
Here is a fix: pull request #257: " Fix GreenFileIO.readall() for regular file".

[2015-10-27 12:50] jstasiak opened #260 "GreenSocket.send broken if socket has a timeout set"
This is the code right now:

[code]

If a socket has a non-zero timeout set then it's not considered a non-blocking socket (``self.act_non_blocking`` is ``False``) and the blocking socket behavior path is chosen. Then, ``fd.send()`` and ``self._trampoline()`` are called in a loop and it may happen (happened to us) that ``self._trampoline()`` raises a ``socket.timeout`` error after some ``fd.send()

[2015-10-29 10:00] jstasiak commented on #260
This is what I believe to be the most reasonable solution to this (this would need a backwards (in)compatibility note in the changelog and an appropriate package version bump):

(I made this quickly without testing, may've missed something)

[code]

I don't know at the moment how to produce a test case for this though.

[2015-11-02 18:44] tdnguyen85 opened #261 "django 1.4"

[2015-11-02 18:44] #261 closed

[2015-11-05 08:22] jstasiak commented on #255
Thank you for the report @codekoala, fix is in master now (da7f9732b6d9d52c8bca5cdbb536beb1fac14b44).

[2015-11-05 08:22] #255 closed

[2015-11-05 14:33] codekoala commented on #255
Great, thank you!

[2015-11-08 20:13] jstasiak commented on #157
@shivaenigma Have you tested with the newest Eventlet yet?

[2015-11-08 20:19] jstasiak commented on #145
@shivaenigma With Python 3.5.0 and Eventlet 0.17.4 I'm unable to reproduce this, can you confirm whether this is still an issue?

[2015-11-08 22:01] jstasiak commented on #260
@temoto I believe this is a serious issue as it breaks the ``socket.send`` contract, what's your position on this?

[2015-11-09 09:54] temoto commented on #260
My position is: the simpler the code the better, `send()` is not supposed to act like `sendall()`, so if you depend on that and your code breaks, that's fine by me... except that I've recently merged the opposite behavior change to `GreenFileIO` #248 https://github.com/eventlet/eventlet/commit/e3f88347d96f653d65f66a46b6bda618a6cb129d

This `while 1` loop was added by @eugeneoden in 495939982bfebf8

[2015-11-09 10:01] temoto commented on #260
And yes, it's a serious issue, thanks for bumping.

[2015-11-10 09:46] jstasiak commented on #260
@temoto I figured the unconditional trampoline would be undesirable, see this patch without it below.

Additionally I just blindly copied and pasted the try/except block around fd.send - the only purpose it serves in that patch is it can silence some types of exceptions which doesn't make sense at the end of the function there. Anyway, modified patch below:

[code]

I kept the "while True: perform

[2015-11-10 09:48] jstasiak commented on #260
PS. @temoto can you see the GreenFileIO change (#248 e3f8834) potentially breaking anything? I'm not sure I fully understand its implications.

[2015-11-10 12:39] temoto commented on #260
Thanks. GreenFileIO forced sendall semantics will not break anything, that's the reason why I merged it. It just does more job than expected and misleading and just sucks to have two sendall methods with different names. Especially so if that was made in backward compatibility trap situation.

[2015-11-10 12:45] temoto commented on #260
This is how to fix total timeout thing:
[code]

[2015-11-10 23:31] jstasiak commented on #260
@temoto Will 719e987c0de7f3c69f5b0fa6e51a65beba1068b8 (socket-send branch) work? Feel free to merge if so, or I can do it.

The timeout calculation will need to be bit more complicated I think, the trampolining time needs to be included in it from what I see .

[2015-11-11 15:12] temoto commented on #260
I'd like to ask you to run this branch before merging for as long as it needs before you feel confident it's good.

[2015-11-11 15:13] temoto commented on #260
And yes, trampolining time needs to be also excluded, thanks.

[2015-11-12 01:06] jstasiak commented on #260
Sure, I'll do some testing.

[2015-11-12 01:36] jstasiak commented on #249
@ctolsen An interesting bug to discover, I have it fixed in a branch: https://github.com/eventlet/eventlet/commit/a24a583173f212fb48960c0a2e84eb05ac48523d

@temoto Can you have a look at that patch? I went with replacing all selectors with ``SelectSelector`` but deleting them should be just as easy.

Related: https://github.com/eventlet/eventlet/issues/169

[2015-11-17 07:59] dongyanyang commented on #154
Hi, do you have any plan to fix this issue?
We have been using QPID as the RPC driver in our openstack environment, but the same as you described in this bug's description, after a very time-comsuming job in the openstack-nova-compute service, an RPC timeout is reported and this triggers the eventlet bug, the error log is pasted at the last,  first with a "TypeError: <lambda>() takes exactly 1 arg

[2015-11-18 10:29] dongyanyang commented on #154
The issue described in my last comments has been fixed by the following change:
/usr/lib/python2.6/site-packages/eventlet/green/select.py:
-                 listeners.append(hub.add(hub.READ, k, on_read, on_error, lambda x: None))
-                 listeners.append(hub.add(hub.WRITE, k, on_write, on_error, lambda x: None))
+                listeners.append(hub.add(hub.READ, k, on_read, lambda: Non

[2015-11-20 12:12] ashutosh-mishra commented on #252
Added the fix, where adding Queue, threading, ssl module in already_patched list, so that these modules also visible in patched module list.

Before fix, monkey patching results as
In [6]: for module_name in [socket, ssl, thread, threading, Queue]:
   ...:     print module_name.__name__, ' : ', patcher.is_monkey_patched(module_name)
   ...:
socket  :  True
ssl  :  False
thread  :  True
threading

[2015-11-22 21:58] jstasiak commented on #157
To the best of my knowledge this issue is fixed by the commits references above - I'm tempted to close this issue and only reopen if this is confirmed to still be an issue with the latest stable version.

[2015-11-22 22:17] jstasiak commented on #249
I just merged that fix into the master branch.

[2015-11-22 22:18] jstasiak commented on #260
After a week of testing the patch seems fine - just merged into master.

[2015-11-23 08:38] temoto commented on #249
Reverted.

https://travis-ci.org/eventlet/eventlet/builds/92613900

When some builds fail, it may be due to busy hardware. When all (but pep8) builds fail, there is something wrong. Please, don't merge that in master.

I'm sure that there's some small thing preventing from accurate counting of multiple readers.

[2015-11-23 08:38] temoto commented on #249
Sorry for not replying earlier.

[2015-11-23 08:53] temoto commented on #260
Thank you very much.

[2015-11-23 11:10] jstasiak commented on #249
@temoto It's not this, it's https://github.com/eventlet/eventlet/commit/4656eadfa5ae1237036a63ad4004dbee4572debf that breaks it; I'll revert.

[2015-11-23 11:14] jstasiak commented on #249
PS. All tests have been successful on my machine, I'd not have merged the code otherwise. More debugging to do.

[2015-11-25 02:15] anthraxx commented on #238
@temoto  would appreciate a new release, had to backport this (and the mswindows attribute) patch... would be awesome to have a new release :stuck_out_tongue:

[2015-11-25 02:25] anthraxx opened #265 "python2 test regression: (AssertionError: This is a Python 3 module)"
I'm trying to package this for Arch Linux repositories, therefor I need all tests passing, python3 tests are running fine, however when testing with python2 i get following AssertionError:

    ======================================================================
    FAIL: Failure: AssertionError (This is a Python 3 module)
    ---------------------------------------------------------------------

[2015-11-25 02:31] anthraxx opened #266 "non-deterministic test failure: (AssertionError: CPU usage over limit)"
I'm currently trying to package this for Arch Linux repositories, therefor it would be great if all tests are passing. I have seen this test several times failing in the issue tracker and it also looks like the automatic travis build itself fails pretty often because of this.

Would it be possible to either make it lot less sensitive or somehow easily skippable? We are also planning to continuousl

[2015-11-25 10:26] temoto commented on #266
Yes, non-deterministic failures are trouble for many people, it's enough already. Thanks for bringing this up. I'll think of something better.

[2015-11-25 10:28] temoto commented on #265
You are supposed to run tests with `tox`. Or `tox -e py27-{selects,poll,epolls}` for Python 2.7 on Linux.

[2015-11-25 10:39] anthraxx commented on #265
I will test that, currently that seems to bring up others issues when running with python 2.7, I will see how to solve that and give feedback.

I just thought running tests directly through setup.py would be convenient (its just that single thing that fails)
https://github.com/eventlet/eventlet/blob/master/setup.py#L25

But how is python 3.5 then supposed to be tested, the tox file only contains d

[2015-11-25 10:55] anthraxx commented on #265
so yes, all this is kind of suboptimal for me. the tox thingie does enforce to have mysql clients, postgres clients installed (errors but does not simply skip tests) and the biggest problem is version pinning. It starts downloading and building dependencies itself that are old and incompatible with the most current versions of openssl etc.

      OpenSSL/crypto/crl.c:6:23: error: static declaratio

[2015-11-25 10:56] temoto commented on #265
TL;DR: For your case, run `nosetests tests/` or `nosetests -sv tests/` for more helpful and verbose output.

At some point I was voting for setup.py approach because it's a widespread "API" to run `setup.py test`. But then we came to "tox is better for eventlet". Maybe `setup.py test` should just print a helpful message  explaining this all instead of doing something undetermined.

For Eventlet de

[2015-11-25 10:57] anthraxx commented on #265
yes, thats exactly what i told you in my last post, i think tox is great for developer point of view. however its totally suboptimal from the distribution packaging point of view :smiley:

[2015-11-25 11:25] #157 closed

[2015-11-25 12:06] anthraxx commented on #265
@temoto ok i may have missunerstood your post **nosetests2 -sv tests** seems to do the trick. I guess you can also make setup.py invoke that. For now, only the CPU consumption tests are failing so it seems to work

[2015-11-25 12:42] anthraxx opened #267 "test regression dnspython with python 3.5 only: (assert isinstance(ans, greendns.dns.resolver.Answer))"
Hey, me again, sorry for all the noise, I hope creating new issues for different problems is in your interest? Thanks for all your fast feedback.
With an up to date dnspython (1.12.0) two greendns_test.py tests are failing (this happens **only** with python3.5, python2.7 is working fine):

    ======================================================================
    FAIL: test_query_ans_types (te

[2015-11-25 17:11] #265 closed

[2015-11-27 13:37] liuq opened #269 "Eventlet + flask-socketio AssertionError: write() before start_response()"
Using Eventlet 0.17.4 + flask-socketio it raises this exception in handle_one_response

This is the traceback:

[code]

[2015-11-27 20:43] jstasiak commented on #269
Hey @liuq, is this the whole traceback? Could you provide sample code to reproduce this?

[2015-12-03 11:06] shoppon opened #270 "call sleep function and change system time"
[code]

After the first time print "execute", change the system time manually, it won't print "execute" after 10 second.

it's because that the sleep function based on system time, not the cpu time.

How can I make it work after changing system time?

[2015-12-05 18:48] MarSoft opened #271 "green.subprocess is broken with python3.5"
Seems that it relies on `subprocess.mswindows` to determine current platform, but that variable (which is undocumented) was renamed in python 3.5: https://api.asm.skype.com/s/i?0-weu-d3-f7ed3534b987733bff86cea08fab4e21
It is advised to use other determining ways like `sys.platform == 'win32'`.
[code]

[2015-12-09 10:00] liuq commented on #269
Hi, unfortunately it's hard for me to reproduce the sample code since it is part of a big web app.

This is the log just before and after the error:

[2015-12-09 10:59:20,110] INFO 83678 [engineio] socket.py:63 - [pome] - f08712daa30c4ff7a0e38bc31862ba88: Sending packet MESSAGE with 2/instance/5634dde71fe3f52bfc6bd805,["New solution",{"description":null,"name":"UD1-bis.sol","last_update":144965156

[2015-12-15 15:36] kaniini opened #272 "socket.recv_into() is really slow on eventlet"
Hello,

Consider the following code with redis-py:

[code]

Now run timeit:

[code]

Profiling shows that it is due to `socket.recv_into()` call in redis-py's `HiredisParser.read_response()`.  We can disable that codepath by patching `redis.connection` module:

[code]

These are times on a Sandy Bridge Xeon e3-1230 CPU, but the same pattern shows up on various other hardware configurations.

Witho

[2015-12-16 08:01] temoto commented on #271
Jakub Stasiak has fixed it in commit da7f9732b6d9d52c8bca5cdbb536beb1fac14b44
it's in master.

[2015-12-16 08:01] #271 closed

[2015-12-16 12:32] lolobosse commented on #269
Hey there,

same error as @liuq with the same version of `eventlet` (`eventlet (0.17.4)`).
The code is on [github](https://github.com/lolobosse/InstrumentationServer) already but is not trivial. The problem as I do not know where the bug happen, I do not really know how to simplify it.

I do have a log, maybe it helps:
[code]

[2015-12-16 15:40] Glueon opened #273 "Pscopg RuntimeError: Second simultaneous read on fileno detected"
I use Django and Celery with eventlet. Basically my task updates one field in postgresql DB.

[code]

Wen I run about 500 threads from time to time I get this error:

[code]

[2015-12-16 16:52] haypo opened #274 "On Python 3, sock.makefile('rb').readline() doesn't handle blocking errors correctly"
On Python 3, socket.socket is monkey-patched to GreenSocket (of eventlet.greenio.base) object. When sock.makefile('rb') is called,

sock.makefile('rb')  creates a SocketIO object (of socket). SocketIO.readline() calls GreenSocket.recv_into() until it gets enough data. It stops when recv_into() returns 0 byte... but also when it returns None.

GreenSocket.recv_into() starts with a trampoline to che

[2015-12-16 17:09] davidszotten commented on #240
also hitting this. i was surprised to find eventlet applying monkey-patches at import time (simply `import eventlet` triggers the monkey-patch at the bottom of `eventlet/green/ssl.py`)

is this a "bug"?

[2015-12-16 19:52] temoto commented on #274
Great, thanks. Please, see comments to 4th commit.

Also, about issue reference in commit text. With this format `gh #274` the `gh` is separate word, not parsed by github or any software. Github parses strings like `gh-274`. Personally I think the best option is long URL, like `https://github.com/eventlet/eventlet/issues/274`, because it's clickable in any case.

[2015-12-16 20:48] haypo commented on #274
Ok done.

I also added this link.

[2015-12-17 09:08] temoto commented on #274
LGTM now

[2015-12-17 09:09] temoto commented on #240
It is a bug.

[2015-12-18 07:21] odlbo opened #276 "HTTPS/SSL hangs when using requests library on Python 3.4"
Hello!
This bug appears when I'm trying to download some files.
Please, check my example bellow to reproduce the problem.

[code]

If eventlet is not imported, I don't get this bug:
[code]

PS:
python version 3.4.0
eventlet==0.17.4
requests==2.9.0

[2016-01-04 08:52] haypo commented on #248
Since https://github.com/eventlet/eventlet/pull/250 is closed, this issue can also be closed no?

[2016-01-06 23:51] jstasiak commented on #249
This is back in the master branch, closing.

[2016-01-06 23:51] #249 closed

[2016-01-06 23:55] jstasiak commented on #169
This is taken care of by https://github.com/eventlet/eventlet/commit/f63165c0e3c85699ebdb454878d1eaea13e90553 (it deletes the unpatched methods).

[2016-01-06 23:55] #169 closed

[2016-01-06 23:58] jstasiak commented on #276
Hey @odlbo, I believe this is addressed in https://github.com/eventlet/eventlet/pull/277, would you mind installing eventlet from the master branch from GitHub and testing again?

[2016-01-07 00:03] jstasiak commented on #273
Hey @Glueon, thanks for the report.

We're using psycopg2 and Eventlet without issues so I suspect the bug is somewhere else but I'm not sure where, I'd have to be able to reproduce this locally.

Ignoring the message won't help, it's there because something undesired happens.

[2016-01-07 00:22] jstasiak commented on #274
https://github.com/eventlet/eventlet/pull/275 (just merged) fixes this I believe, please reopen if I'm wrong.

[2016-01-07 00:39] jstasiak commented on #274
I completely missed the fact that this breaks tests on Python 3, just reverted, will reopen this issue until that's resolved.

[2016-01-07 01:01] jstasiak commented on #260
I'll reopen this because I reverted the original commit[1]. @temoto what do you think about this test?

[code]

I can rarely and unreliably reproduce this locally. I suspect the failure happens because the new ``send`` implementation doesn't call ``trampoline`` on every retry so that the second reader thread doesn't have chance to run; that whole test doesn't inspire confidence in me.

[1] https:/

[2016-01-07 09:26] odlbo commented on #276
Yep, you are right! It works with code from master branch.
Thank you!

[2016-01-07 10:38] #195 closed

[2016-01-07 16:54] haypo commented on #274
I was unable to run tests on Python 3 on my Fedora 23. I found the issue: tox.ini requires explicitly an old version of PyOpenSSL which doesn't work on Fedora 23. Remove the version from tox.ini allows me to run tests on Python 3.

So, I fixed the issue by exchanging the trampoline and the call the the read method in recv_loop(). I don't understand well eventlet, so I'm not sure that it's correct.

[2016-01-07 16:57] haypo commented on #274
Oh... It looks like tests now pass on Python 3, but I broke them on Python 2... Any idea how to implement correctly the "recv loop" for GreenSocket?

Or I can write simpler patch with conditional code depending on the Python major version.

[2016-01-07 21:25] jstasiak commented on #274
Hah, that's annoying. Let me have a look at what that test does in the first place.

[2016-01-07 23:25] jstasiak commented on #274
I think I know what this is (tests break for me locally on Python 2.7.10 too BTW).

The test:
[code]

The patch makes so that ``recv_meth`` is called at least once before ``trampoline`` is called:
[code]

From what I see the builtin ``socket.recv_into`` (and ``socket.recv`` too) called with non-blocking socket (as it's used by Eventlet internally) won't raise an exception if one attempts to read z

[2016-01-07 23:38] jstasiak commented on #274
In the response above I mixed some things up, sorry. The ``recv_into`` behaviour described is correct for nonblocking sockets but this is about a socket with a timeout. The buitlin ``recv_into``:

[code]

So yes, the test is correct (un)fortunately.

[2016-01-08 09:38] jstasiak commented on #274
I played with it locally and I modified ``recv`` tests:

[code]

This introduces a test failure that can solved by something like:

[code]

[2016-01-08 23:14] haypo commented on #274
[code]

Oh, thanks for the hint. It looks like tests now pass on Python 2 and Python 3.

[2016-01-09 12:05] Glueon commented on #273
@jstasiak try to set concurrency level to some number and make sure you create the same amount of concurrent DB queries. If number of queries is bigger than the concurrency number you'll get this error.

I had a lot of tasks each of which updates a DB record at the end, so I almost always had more DB connections than there were green threads. Raising concurrency level does not solve really the pro

[2016-01-09 15:33] jstasiak commented on #273
I'm sorry, I haven't made it clear - we don't use Django nor Celery, we do use Eventlet and Psycopg2 though with no issues like this. This makes me suspect the bug is either in other piece of software that you use or in your own code, would you be able to provide a code sample that's enough to reproduce this?

[2016-01-10 03:17] jstasiak commented on #274
Thanks @haypo, this is now in master.

[2016-01-10 03:17] #274 closed

[2016-01-10 03:19] jstasiak commented on #276
Thank you @odlbo, I'll close this issue then.

[2016-01-10 03:19] #276 closed

[2016-01-10 09:47] haypo commented on #274
Wow, cool, thank you.

[2016-01-10 13:08] jstasiak commented on #272
Hey @kaniini, would you mind performing the same test with the version from the master branch? There's a commit[1] that changes the ``recv_into`` implementation and I suspect this may affect the results.

[1] https://github.com/eventlet/eventlet/commit/bc4d1b5d362e5baaeded35b1e339b9db08172dd2

[2016-01-11 10:13] jstasiak commented on #267
Hey @anthraxx, thanks for the report, different issues/tickets for different things is perfectly fine.

This is a funny issue. I managed to nail it down to:

1 There's an import cycle that's wrapped by a ``try/except`` block silencing import errors:

[code]

If instead of silencing the error we print a stack trace we get something like:

[code]

2 The import cycle prevents ``eventlet.support.green

[2016-01-12 23:29] talwrii opened #282 "eventlet.green.zmq ignores RCVTIMEO setting"
RCVTIMEO is documented here: http://api.zeromq.org/2-2:zmq-setsockopt

Here is a repro for you:

[code]

[2016-01-12 23:30] talwrii commented on #282
I've got a patch that fixes this...

Just writing some unit tetsts now (I wanted a bug number)

[2016-01-13 00:03] talwrii commented on #282
Mergey Merge Merge:

https://github.com/eventlet/eventlet/pull/283

[2016-01-13 02:08] jackmullen2 opened #284 "Pipe Broken"
I am using flask and eventlet as the server .. I set up flask to "serve from directory" with "as_attachment=True" -- here is the route
@app.route('/static/media/<directory>/<filename>')
def download_file_media(directory,filename):
    return send_from_directory('static/media/'+directory,
                               filename, as_attachment=True)

When a device .. like an iphone or computer using

[2016-01-13 21:10] azhar2005 opened #285 "Documentation: link broken in example"
https://wiki.secondlife.com/w/images/secondlife.jpg
used in design_patterns.rst no longer exists.

[code]

[2016-01-13 22:39] #285 closed

[2016-01-13 22:40] jstasiak commented on #285
A fix is merged now, thanks.

[2016-01-14 10:53] athad opened #287 "URL Download Performance"
I'm currently trying to fetch a large number of URLs from the Internet. What I have running is a green pool of 200 green threads. Each of them calls a function that does something similar to:

with Timeout(20,False):
  <eventlet.urllib fetch>

For 1000 URLs I'd expect the maximum runtime to be 20s * 5 pool executions + some overhead, going for 100-200 seconds. Unfortunately, I've had stuff run for

[2016-01-15 10:05] athad commented on #287
This seems to be caused by some of the URLs I'm fetching returning a lot of data very slowly - it seems to be somewhat related to https://github.com/eventlet/eventlet/issues/260; the fetcher spends a lot of time in that while loop and doesn't give the pool a chance to spawn new threads. Since it doesn't happen for most URLs, just some special cases, I'll close the ticket.

[2016-01-15 10:05] #287 closed

[2016-01-21 16:54] kaniini commented on #272
Hello,

I am seeing improved performance on bc4d1b5.  I think this bug can be closed.

[2016-01-21 18:11] andrefreitas opened #288 "Empty list for headers_set in wsgi.py"
Hi,
With python3.4 and eventlet 0.17.4, I am having the following issue:

[code]

This doesn't happen with python 3.5.

Note: I am using flask-socketio that is using eventlet. I don't know if is a bug from your side or their side, anyway, since this is a long method in wsgi.py (almost 200 lines), it is probably a bug.

[2016-01-22 07:06] jstasiak commented on #288
Hey @andrefreitas, is this the whole traceback? Can you provide a code sample that allows reproducing this?

[2016-01-22 09:15] andrefreitas commented on #288
@jstasiak is the only traceback I have. I will try to make a reproducible example. It is hard to debug with just the information I gave.

[2016-01-22 14:58] andrefreitas commented on #288
Hi,
I am debugging and the problem is that the start_response method is not called:

    result = self.application(self.environ, start_response)

Therefore in this line the headers_set is still empty:

   Content-Length' not in [h for h, _v in headers_set[1]]:

This only happens in the websocket handshake.

[2016-01-23 01:38] jstasiak commented on #260
I produced a change to the test code that makes it pass now: https://github.com/eventlet/eventlet/commit/c315ee86dac996ac533b738f7c8777f4d01a0472 (it's in master)

[2016-01-23 01:38] #260 closed

[2016-01-23 01:39] jstasiak commented on #272
Awesome, I'll close it then.

[2016-01-23 01:39] #272 closed

[2016-01-23 05:00] tuanchauict opened #289 "Custom header for urllib2.urlopen"
I'm writing a crawler that the webpage just be able to get data if signed in. The method is quite easy with custom cookie. But I don't find out any code or document for this behaviour. How can I change the cookie or headers for a request of `urllib2.urlopen` or any similar function.

Thanks

[2016-01-23 13:46] temoto commented on #289
This is a generic Python question and I'm just quoting the answer found on Stackoverflow.
[code]

I highly recommend using any of the following libraries: httplib2, urllib3, requests.

[2016-01-23 13:46] #289 closed

[2016-01-23 15:42] temoto commented on #260
:+1: thank you.

[2016-01-24 03:32] dims opened #290 "eventlet 0.18.0 breaks Nova, KeyStone and other OpenStack jobs"
Examples of failures:
https://bugs.launchpad.net/keystone/+bug/1537401
https://bugs.launchpad.net/nova/+bug/1537402

Typical traceback:
2016-01-23 22:27:15.045 7298 ERROR nova   File "/usr/lib/python2.7/subprocess.py", line 799, in communicate
2016-01-23 22:27:15.045 7298 ERROR nova     return self._communicate(input)
2016-01-23 22:27:15.045 7298 ERROR nova   File "/usr/lib/python2.7/subprocess.py

[2016-01-24 03:32] dims commented on #290
logstash query (for OpenStack logstash instance http://logstash.openstack.org/):
message:"AttributeError: 'module' object has no attribute 'poll'"

[2016-01-24 03:37] dims commented on #290
Guess this was done by design:
https://github.com/eventlet/eventlet/blob/2865c23837980c987e79562d15633ef4a032b8c6/NEWS#L38

[2016-01-24 07:26] dianaclarke commented on #290
There is also this (different) OpenStack bug with eventlet 0.18.0:

    TypeError: an integer is required
    https://bugs.launchpad.net/nova/+bug/1537450

Which is related to the "Handle blocking I/O errors in GreenSocket" changes:

    https://github.com/eventlet/eventlet/issues/274
    https://github.com/eventlet/eventlet/commit/bc4d1b5d362e5baaeded35b1e339b9db08172dd2

If I rollback those chan

[2016-01-24 08:39] dianaclarke opened #291 "TypeError: an integer is required (socket, sendto)"
I get the following error when I upgrade from eventlet 0.17.4 to 0.18.0.

[code]

Which is related to the "Handle blocking I/O errors in GreenSocket" changes:

- Issue: ["Handle blocking I/O errors in GreenSocket"](https://github.com/eventlet/eventlet/issues/274)
- Commit: https://github.com/eventlet/eventlet/commit/bc4d1b5d362e5baaeded35b1e339b9db08172dd2

**Before:**

[code]
**After:**

[code]

[2016-01-24 09:02] jstasiak commented on #291
Hey, sorry about that. Fixed in master in https://github.com/eventlet/eventlet/commit/a79c0ee57af25ab176e34ae7ceb27a1c0262ae5d, we should do a bugfix release once the subprocess issue is sorted out too.

[2016-01-24 09:05] jstasiak commented on #290
Hi, thanks for the report. It's been done by design but it's not meant to break subprocess. The only way I see the patch breaking subprocess module right now is when monkey patching is done and it happens after subprocess is already imported - can you confirm whether that is or isn't the case?

[2016-01-24 14:58] temoto commented on #290
Any order of import should not break subprocess.

[2016-01-24 17:03] dims commented on #290
@temoto, here's a simple recreate

dims@ubuntu-vm:~$ python
Python 2.7.10 (default, Oct 14 2015, 16:09:02)
[GCC 5.2.1 20151010] on linux2
Type "help", "copyright", "credits" or "license" for more information.

0.18.0

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.7/subprocess.py", line 799, in communicate
    return self._communicate(input)
  Fil

[2016-01-24 17:05] dims commented on #290
@jstasiak yes, please see previous comment

[2016-01-24 17:25] temoto commented on #290
Thanks for reproduction code. It also fails on Python 3.4, but it requires Linux, on Mac OSX there's no error.

[2016-01-24 19:21] temoto commented on #291
Reopen if needed.

[2016-01-24 19:21] #291 closed

[2016-01-24 19:39] temoto commented on #290
Revert-like bugfix was released in v0.18.1
`subprocess .communicate()` is fixed.
Proper fix is to have green version of `select.poll()`.

[2016-01-24 19:39] #290 closed

[2016-01-24 19:43] temoto opened #293 "Green select.poll is required for subprocess"
https://github.com/eventlet/eventlet/commit/bc4d1b5d362e5baaeded35b1e339b9db08172dd2 deletes blocking version of `select.poll` and that is good.
But that breaks `subprocess .communicate()` under certain valid order of import and `monkey_patch()`. #290
I think proper solution is to have green version of `select.poll()`.

[2016-01-24 20:01] dims commented on #290
@temoto thanks a ton!

[2016-01-24 21:05] dianaclarke commented on #291
Oh, wow! That was fast. Thanks @jstasiak & @temoto!

[2016-02-01 06:59] smtakeda commented on #147
I came across the same error in Python 3.4.3 on Centos 6.5

Here is a test case:
[code]

[code]

[code]

[2016-02-03 01:28] raylu commented on #274
With python 3 and 0.17.4, this code always works:

[code]
[code]
but in 0.18.1, sometimes it works and sometimes you get
[code]
and it just hangs, never downloading the last 128KiB.

`eventlet.wsgi` calls `writelines` https://github.com/eventlet/eventlet/blob/a8125b602110ffd88acb317cc7915ba604cff4bb/eventlet/wsgi.py#L437
on `wfile`, created with the original `makefile` https://github.com/eventlet/

[2016-02-03 09:04] haypo opened #295 "Python 3: wsgi doesn't handle correctly partial write of socket send() when using writelines()"
The wsgi module uses "wfile = conn.makefile('wb', self.wbufsize)" to get a file-like API and then call wfile.writelines(lines) to write data. If a socket send() is a partial write, writelines() doesn't retry and simply try to write the next line. In this case, the HTTP client is stuck and wait forever. See the following message for a script to reproduce the bug:
https://github.com/eventlet/eventle

[2016-02-03 09:04] haypo commented on #274
As a Python core developer, I have to disagree :-D I opened the bug report https://github.com/eventlet/eventlet/issues/295

[2016-02-03 09:17] haypo commented on #295
I confirm that reverting the commit bc4d1b5d362e5baaeded35b1e339b9db08172dd2 works around the issue. Try using following patch:

[code]

The old behaviour was to retry on partial write directly in send(), whereas the new behaviour gives up on partial write and let the caller to handler this case.

Sorry, it's still unclear to me what is the *expected* behaviour in eventlet with monkey-patching...

[2016-02-05 08:05] jstasiak commented on #274
@raylu @haypo I'll just leave this here for reference: https://mail.python.org/pipermail/python-dev/2012-August/121396.html

Considering the above I'm inclined to say the ``wsgi`` module only worked before because ``GreenSocket.send`` was broken too and was working like ``sendall`` internally therefore the fix is to stop using ``writelines()``.

[2016-02-05 08:05] jstasiak commented on #295
See my comment here: https://github.com/eventlet/eventlet/issues/274#issuecomment-180243787

[2016-02-05 08:53] haypo commented on #295
jstasiak: "See my comment here: #274 (comment)"

Since I consider that writlines() issue is not directly related to #274, I prefer to discuss it here. Copy of your comment:

[2016-02-05 08:59] haypo commented on #295
Oh, nice catch. I reported a bug to Python to decide what to do for writelines() on the io module: http://bugs.python.org/issue26292

I see 3 options:

* (1) modify again eventlet send() to always work like sendall()
* (2) modify eventlet writlines() to retry on partial write
* (3) modify eventlet wsgi to use sendall()

Options (1) and (2) are exclusive, but (3) can be done anyway.

I don't know t

[2016-02-06 09:39] raylu commented on #295
IMO, the `writelines` behavior is wrong/unexpected anyway, regardless of whether it's correct per the documentation. Fixing that has no real downsides and happens to solve our problem.

Doing the opposite of option 1 is how we got here in the first place and I assume it was done to deal with some other issue. Option 3 is alright and it is odd that we use `writelines` in `eventlet.wsgi`, but even t

[2016-02-07 19:48] temoto commented on #295
- We're not restoring send-like-sendall unless critical mass of external applications depend on it.
- `wsgi writelines -> sendall` high priority.
- green `writelines` retry low priority.

[2016-02-08 00:03] temoto commented on #295
Either my fix is wrong, or wsgi or BaseHTTPServer is more dependant on file interface than I initially thought. Could use a fresh head for review here.

[2016-02-08 19:54] fake-name commented on #295
I spent all morning tracking down a bug that wound up being caused by this issue (`Flask-Assets` served files above a certain size would never finish transferring).

Since this seems pretty broken, could you folks remove v0.18 from PyPi until it's sorted out?

[2016-02-08 21:37] temoto commented on #295
Yes, 0.18.* are hidden on pypi now.

[2016-02-08 21:54] haypo commented on #295
Removing a release is a really bad practice. It's better to release a
version with a revert of the change, or with a fix.

[2016-02-09 01:42] jstasiak commented on #295
I agree with @haypo that it should be fixed instead of hiding the release(s), I'll have a fix ready shortly.

[2016-02-09 02:37] jstasiak commented on #295
@temoto I went for the minimal solution needed to make this work, see f011f783db1d9d58ee198dbef35fef9f9d4a6248.

@raylu @fake-name Do you mind testing if that commit works for you?

[2016-02-09 08:03] temoto commented on #295
@haypo
- thanks for adding project maintenance perspective, I agree it's bad
- even with removed releases, `pip install -r req` failure is far easier to debug than this

@jstasiak
- no trampoline = CPU burn
- your test does not create partial write condition, there's a test in c3da8eb that ensures partial write
- there are more `writelines()` in wsgi
- thanks for activity

[2016-02-09 08:51] jstasiak commented on #295
Thanks for the feedback @temoto, no problem.

There should be no noticeably increased CPU usage (at least not compared to the solution using ``sendall()`` which would do the same thing basically), the partial write condition is actually created (I made sure the tests fail before I fixed it, see https://travis-ci.org/eventlet/eventlet/builds/107921835) and the remaining ``write()`` calls are covere

[2016-02-09 09:19] temoto commented on #295
There is trampoline somewhere down the path of `fd.write`?

[2016-02-09 09:22] jstasiak commented on #295
As far as I understand ``write()`` will proxy to socket's ``send()`` method which will trampoline if it can't send anything.

Updated my comment above, made a silly bug, the actual commit changing ``write()`` calls is f473cad.

[2016-02-09 09:26] temoto commented on #295
I mean your test did not *create* partial write. There was no code that enforces partial write.
It may experience partial write in default environment, but when buffer size or something else is changed, then it won't catch bug anymore.

As far as I remember, socket `send` lost it's `sendall` behavior and does not trampoline now.

[2016-02-09 09:27] temoto commented on #295
In other words, partial write *may* happen on each byte of each line, just writing big buffer is not a way to test for partial write.

[2016-02-09 10:35] jstasiak commented on #295
While I think the patch is good enough I agree in principle, see commit b7380fdc70fde26777f4f141da3f01570e870cac where I simulate the conditions described (a build with just the test added fails, https://travis-ci.org/eventlet/eventlet/builds/107984564, a build with test + patch workes: https://travis-ci.org/eventlet/eventlet/builds/107987655).

Feel free to merge if it works for you.

[2016-02-09 10:58] temoto commented on #295
Yeah, your new test is awesome!

Few more comments:
- all this must be commented as temporary solution, proper is either use `sendall` in wsgi or fix `makefile().writelines()` without touching wsgi module.
- get rid of `if six.PY2` (that's a mystical hope that PY2 means `fd.write` has `sendall` behavior). We must provide proper semantics, no matter if upstream implementation is valid or not.
- `fr

[2016-02-09 15:11] #295 closed

[2016-02-09 15:14] temoto commented on #295
Jakub's fix is merged into master and released on PyPi.
Previous releases 0.18 and 0.18.1 are deleted from PyPi.

[2016-02-09 19:54] temoto commented on #295
Maybe proper fix is to just inherit GreenFileIO from BufferedIOBase. I will try it and encourage everyone to try it too.

[2016-02-10 08:52] jstasiak commented on #295
Hey, I don't have time to do it right now but feel free to apply those comments (different code for Python 2/Python 3 may need to stay in one form or the other though, at least the builtin ``write()`` method just returns ``None`` so the code would break).

[2016-02-10 13:03] haypo opened #296 "eventlet 0.18.2 broken an unit test of OpenStack Keystone"
Discussion on the commit: https://github.com/eventlet/eventlet/commit/5bf0a6f32b3e4459b38ad1895c9eb4b0b483dae1#commitcomment-16002966

Traceback:

[code]

Workaround: skip the test in Keystone, https://review.openstack.org/#/c/278147/

[2016-02-10 13:05] haypo commented on #296
This bug is related the issue #295.

[2016-02-10 13:15] temoto commented on #296
Thanks, fix is coming soon.

[2016-02-10 13:16] haypo commented on #296
Sorry, I lost track of the discussion, but IMHO the safer option is to restore "sendall" behaviour for eventlet socket send(). It would avoid the need of custom writelines() only used in wsgi.

[2016-02-10 13:33] temoto commented on #296
I'm not saying `safe_writelines` must be fixed or there is need in it.

[2016-02-10 14:40] haypo commented on #296
The write() method returning None comes from keystone.common.environment.eventlet_server.EventletFilteringLogger(). It doesn't use any socket:

https://github.com/openstack/keystone/blob/7a0874f6f69852584061fa384f75dfb0d5f1c229/keystone/common/environment/eventlet_server.py#L61

[2016-02-10 16:20] haypo commented on #296
A trivial fix for eventlet is to stop the writeall() loop if write() returns None.

[2016-02-10 21:47] reversefold opened #298 "Eventlet 0.18.0 and 0.18.1 are no longer on pypi"

[2016-02-10 22:32] manasdk commented on #298
Removing old packages from pypi leads to issues when packages version are pinned. e.g. https://github.com/StackStorm/mistral/blob/st2-1.3.1/requirements.txt#L32 we pin to a specific version at time of release to avoid issue due to upstream failures.

We have a CI process in place that performs this pinning and not having the package on pipit leads to a failure during installs.

Is there a strong r

[2016-02-10 23:42] jstasiak commented on #296
@haypo ``send()`` behaving like ``sendall()`` is a source of very subtle issues when sockets with timeout are used so I don't think we should be restoring that behaviour.

Regarding handling ``None`` in ``writeall()`` - it's not that trivial, ``RawIOBase.write()`` can return None when "the raw stream is set not to block and no single byte could be readily written to it"[1] so just breaking out of

[2016-02-11 02:13] temoto commented on #298
TL;DR: Yes, the reason is critical bug. It's not everyday practice.

You should be aware that CI against version range leads to inconsistency, that is undefined CI results.

0.18 line introduces new semantics for socket.send: it does not attempt to finish partial send. Previously, it would loop like socket.sendall. Now we're doing minimal work as per documented API. So it will not break proper app

[2016-02-11 02:16] temoto commented on #298
related issue #296

[2016-02-11 15:14] temoto commented on #296
Yup, file object returning None means `writeall` must go into infinite retry loop.

`eventlet.wsgi` is still going to loose custom write function, so symptoms of this issue will be fixed, but it's not a bug.

[2016-02-11 19:01] temoto commented on #295
Guys, I'm a fool. I'm sorry. It's so ridiculous in the end. :)

- `eventlet.wsgi` tries to reuse stdlib code.
- stdlib `BaseHTTPServer.BaseHTTPRequestHandler` inherits from `StreamRequestHandler` which defines `rbufsize = -1` (buffered, default size), but `wbufsize = 0` (unbuffered).
- `writelines()` doesn't check what each lines' `write()` returned, but that's not a problem in case file object is

[2016-02-11 20:26] temoto commented on #298
New status update: `sock.makefile('w').writelines()` could only loose data if you explicitly disable file-object buffering with `makefile('w', 0)`. That is the case with `eventlet.wsgi` (and also any other WSGI server that uses stdlib `BaseHttpServer`). Default `makefile` object is buffered and does not loose data.

[2016-02-12 17:01] temoto commented on #295
@haypo @fake-name @jstasiak please, run master (f66ab29) with actual application to verify that buffered wsgi resolves the problem.

[2016-02-12 17:22] haypo commented on #295
The commit f66ab29 fixed Keystone unit test. With this commit,
"nosetests keystone/tests/unit/test_ipv6.py" pass. Without, the fail
displays an TypeError and hangs.

[2016-02-12 17:28] temoto commented on #295
@haypo do you mean logger.write `int+None` issue or do you have a test that verifies for partial writes?

[2016-02-12 17:29] temoto commented on #296
Fixed in master.

[2016-02-12 17:29] #296 closed

[2016-02-12 17:50] haypo commented on #295
I'm talking about the bug #296: write() method which returns None in Keystone. It now works again.

[2016-02-12 17:58] temoto commented on #295
@haypo ah, that's good, but please run master with application that exposed partial write problem. It's now fixed without `safe_writelines`, by using buffered wfile in wsgi.

[2016-02-12 17:59] j2sol opened #299 "0.18.2 causes repated tracebacks in OpenStack"
I discovered this on a Kilo build, but looks like it's happening on master too.

https://bugs.launchpad.net/nova/+bug/1544801 is the bug I filed, even though it's against Nova it's happening on Neutron, Glance, maybe others.

[code]

Further logs at

http://logstash.openstack.org/#dashboard/file/logstash.json?query=message%3A%5C%22Traceback%20(most%20recent%20call%20last)%3A%5C%22%20AND%20message%

[2016-02-12 18:05] mriedem commented on #299
Right, so this was due to b7380fdc70fde26777f4f141da3f01570e870cac which was meant to fix a problem with py3 and apparently has regressed something with python 2.7. We started seeing this on 2/4 across multiple projects (running eventlet / wsgi in their API service) and in both kilo and master (since they are uncapped and using latest eventlet, liberty is using 0.17.4 and doesn't have the problem)

[2016-02-12 18:36] temoto commented on #299
Please check against eventlet master

`pip install https://github.com/eventlet/eventlet/archive/f66ab29cb57855ccb14ad84ef0534f9eb2bc573f.zip`

I'm eager to release it.

[2016-02-12 18:52] j2sol commented on #299
Limited testing in Nova (Kilo) appears to work.

[2016-02-12 20:10] haypo commented on #295
Ah yes, you are talking about
https://github.com/eventlet/eventlet/issues/274 : upstream
https://bugs.launchpad.net/glance/+bug/1521756

I downgraded eventlet to 0.17.4 and used my system_load.py script to
get a system load >= 5.0. With eventlet, running the "while true; do
python -m testtools.run discover -t ./ ./glance/tests --load-list
tests || break; done" 3 times in parallel (in 3 windows), i

[2016-02-12 20:14] jstasiak commented on #295
@temoto I won't be able to test this right now, if the tests pass it should be fine. There's something not covered by the tests and https://github.com/eventlet/eventlet/commit/f66ab29cb57855ccb14ad84ef0534f9eb2bc573f introduces a regression in this regard - ``log.write()`` call may very well result in a partial write and not testing its return value means we can lose logs. I stand by my position t

[2016-02-12 21:52] temoto commented on #295
@jstasiak I also stand you are correct, `log.write()` returning `None` is an issue in the client code, but releasing that equals breaking a lot of poorly written custom loggers without a good reason. I mean log loss is not nearly as important as HTTP response loss.

So here's the plan on wsgi logger:
- eventlet.net must contain description of problem, script to verify codebase for invalid loggers,

[2016-02-12 21:58] temoto commented on #295
@jstasiak I think a good start is to test that their logger `not isinstance(io.BufferedWriter)`.

[2016-02-12 22:02] temoto commented on #295
@haypo excellent, thanks for testing. I'm a bit lost, if #274 and #295 are two symptoms of same issue? Previously I was talking about #295 the `makefile('w').writelines()` issue. Do you have an application that exposes partial writelines problem?

[2016-02-12 22:20] temoto commented on #295
@raylu you seem to run applications affected by this issue, please test if they not show symptoms of partial writelines in master f66ab29cb .

[2016-02-12 23:12] jstasiak commented on #295
@temoto I want to agree with you but I know there are some industries where complete and accurate logs are a legal requirement. In those losing logs can be more of an issue than losing parts of HTTP responses.

[2016-02-12 23:26] haypo commented on #295
I noticed two bugs related to OpenStack: #274 was a race condition in
OpenStack Glance on Python 3, #296 was a regression of eventlet 0.18.2
on Python 3 (well, it was said that it's not a regression...). I
tested master on both bugs: both bugs are fixed by master.

I'm not affected by #295. I opened the issue #295 because someone
started to complain about a bug in the issue #274, whereas the bug i

[2016-02-13 13:36] #298 closed

[2016-02-13 13:37] temoto commented on #299
Fix is released in v0.18.3

[2016-02-13 13:37] #299 closed

[2016-02-14 22:16] gambitcostas opened #300 "Exception raised in wrong greenlet"
We have a Django application running inside a Gunicorn eventlet server. When the server starts up, it spawns a greenlet (using eventlet.spawn) which reads data from a socket.

The socket may sometimes get disconnected, in which case we simply log the exception and reconnect again later.

Unfortunately, we noticed the _entire server_ sometimes exits with the following traceback when there's a socke

[2016-02-14 23:39] temoto commented on #300
TL;DR: don't do that. When using Eventlet with sockets, you have exactly zero reasons to call either `sock.setblocking(0)` or anything from `eventlet.hubs`, in particular `trampoline()`.

These lines:
- `self._socket.setblocking(0)`
- `eventlet.hubs.trampoline()`
- `except eventlet.hubs.IOClosed:`

mean author is very well informed about Eventlet internals, because he's recreating parts of it in h

[2016-02-15 02:29] gambitcostas commented on #300
Thanks temoto for your quick reply.

I'm positive that that code is much lower-level than it needs to be, and I don't believe it was written this way for any specific reason (I suspect it's very old, and was ported over from code that didn't use greenlets originally).

What they were aiming for was a continuous processing loop that also polls a socket for new data as it runs but doesn't block if t

[2016-02-15 07:14] temoto commented on #300
I'm sorry, didn't make myself clear. I don't think it might help. I'm 100% sure it will help. Playing with internals *is root cause of the problem* you're having.

Yes, you're raising exception into another greenthread. How to debug - very simple, put print with current greenthread id, locals and socket state on each line. Or use ipdb if you prefer interactive debugging.

[2016-02-15 12:24] costasgambit commented on #300
Ok, we'll follow your advice. Thanks very much for your help!

[2016-02-15 13:32] #300 closed

[2016-02-17 13:04] haypo opened #301 "eventlet 0.18.3 broke an unit test of OpenStack Neutron"
The change 40714b1ffadd47b315ca07f9b85009448f0fe63d introduced a regression.

[code]

The code should maybe ignore socket.error, since it's more an optimization, no?

Neutron bug report:
https://bugs.launchpad.net/neutron/+bug/1546506

[2016-02-17 14:16] HenryGessau commented on #301
What is the goal of disabling the nagle algorithm? The nagle algorithm is usually a good thing, The problem (of there is one) might instead be ACK delays. See [1]. Animats is John Nagle himself.

[1] https://news.ycombinator.com/item?id=10607422

[2016-02-17 14:22] temoto commented on #301
@haypo Yes. Temporary fix: `eventlet.wsgi.HttpProtocol.disable_nagle_algorithm = False`
@HenryGessau Thank you very much. I didn't know that.

[2016-02-17 14:26] temoto commented on #301
@haypo do you see this error only on UNIX sockets?

[2016-02-17 17:07] cubeek commented on #301
I tested https://github.com/eventlet/eventlet/commit/ba4fddbb9c5f8f5edf0d2c8dcb350385e395a93a and it solves the issue in OpenStack Neutron.

[2016-02-17 17:44] temoto commented on #301
Thanks. v0.18.4 contains fix. Have a nice day.

[2016-02-17 17:44] #301 closed

[2016-03-03 02:24] temoto commented on #284
That error means client got disconnected. There's nothing you could do for recovery except reconnect on client side. Mobile devices connections are much more unstable, thus higher chance to get `EPIPE`. Consider it normal.

This issue is resolved when `eventlet.wsgi` produces human readable error message for such cases.

[2016-03-03 02:27] temoto commented on #266
@anthraxx please, try recent master a236bd20b7f3a2ed15294eff38cebe965ca2c3f9 , should be fixed now.

[2016-03-03 02:30] temoto commented on #221
Is this issue still relevant?

[2016-03-04 05:02] skk2142 opened #304 "Using eventlet pool inside a for loop gives error after first iteration in python"
When I run the code below, I get error during second iteration. I wonder if it's because I didn't terminate the first pool before generating a new pool? If so, how do I terminate a pool? I get the same error when I define the pool outside the for loop.
[code]
Error:

Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 810, in __bootstrap_inner
    self.run()
  File "/

[2016-03-04 18:09] six8 commented on #221
Probably not. We're using the patched version and it's working for us. Best option would of course be to upgrade to a newer eventlet. If I ever add the other patch and test I'll re open PR.

[2016-03-04 18:09] #221 closed

[2016-03-05 08:03] temoto commented on #304
We have multiprocessing compatibility issue: #147
It would help if you post full code as comment to 147.
I'm closing this as duplicate.

[2016-03-05 08:03] #304 closed

[2016-03-15 10:57] tb2johm commented on #284
I'm running Python 3, and I'm not totally sure that I have the same version as the Issue creator.

Anyways, as I understand the code this exception is more or less supposed to be handled...
We get here from `handle_one_request()` where the last thing the code does is to call `self.handle_one_response()`. This call is surrounded by a try-except that would suppress any `socket.errors` with numbers i

[2016-03-16 06:26] christopher-abastar opened #306 "eventlet not terminating the green threads?"
Hello,

Currently, i'm experiencing the same scenario as this guy and it affects my gunicorn, celery termination pretty badly.  Miguel pointed out it could be a eventlet error.  Any ideas on how to fix it? not sure if i'm on the correct project to bug this.

[flask-socketio-eventlet](http://stackoverflow.com/questions/35928723/flask-socketio-debug-with-eventlet-and-redis-spawns-extra-greenthreads)

[2016-03-18 23:50] temoto commented on #306
The problem in that code - `redisReader` is started no matter if it's a "worker manager" or an actual "request handler" process. So, don't create and start that pool unconditionally. Consult Werkzeug documentation where is your "application init" event, and only start `redisReader` there.

[2016-03-18 23:50] #306 closed

[2016-03-29 16:33] jstasiak commented on #267
@temoto Any ideas regarding the above? I think we're hitting a similar issue when using httplib2 while testing on Python 3.5

[2016-03-30 20:48] temoto commented on #267
I think it's easy to check if the module was already imported via `sys.modules`. That would be a workaround crutch. It's entirely clear to me how critical this issue is. Does the issue manifest besides testing?

[2016-03-31 04:17] hunters1094 opened #307 "Too many PIPEs are created when subprocess.Open fails"
Hi

I'm running neutron-openvswitch-agent that uses eventlet to connect to ovs-vsctl via command line.
`def _subprocess_setup():
    # Python installs a SIGPIPE handler by default. This is usually not what
    # non-Python subprocesses expect.
    signal.signal(signal.SIGPIPE, signal.SIG_DFL)

def subprocess_popen(args, stdin=None, stdout=None, stderr=None, shell=False,
                     env=No

[2016-03-31 07:56] temoto commented on #307
Please show all code where you use Popen `obj`.

[2016-03-31 08:55] hunters1094 commented on #307
Hi temoto

The code is from openstack neutron, in files: neutron/agent/linux/ovs_lib.py, neutron/agent/linux/utils.py, neutron/common/utils.py

Every 2 second, neutron-openvswitch-agent runs 3 commands to check status of ovs-switchd.
The commands are defined in neutron/agent/linux/ovs_lib.py:
`    def run_vsctl(self, args):
        full_args = ["ovs-vsctl", "--timeout=2"] + args
        try:

[2016-03-31 10:55] jstasiak commented on #267
Yes, by testing (above) I mean running a production code in a Python 3 environment, experimentally. I'll try to provide a minimal test case.

[2016-04-01 13:06] jstasiak commented on #267
A minimal reproducible code (latest Eventlet and httplib2, Python 3.5.1):

[code]

The result:
[code]

The relevant bit of code from ``httplib2/__init__.py``:

[code]

I think that's because existing, already imported ``http.client`` module is indirectly replaced when ``eventlet.green.urllib`` is imported and this breaks things that already saw the original ``http.client`` module, see this:

[code

[2016-04-01 13:16] temoto commented on #267
@jstasiak thank you very much for minimal case.

I can't right now, will look into this issue later. Maybe it's possible to fix this issue in patcher.

[2016-04-04 11:17] hunters1094 commented on #307
The stacktrace when error:

2016-04-04 18:05:33.942 7817 ERROR neutron.agent.common.ovs_lib [req-42b082b1-2fbf-48a2-b2f3-3b7d774141f0 - - - - -] Unable to execute ['ovs-ofctl', 'dump-flows', 'br-int', 'table=23']. Exception: [Errno 11] Resource temporarily unavailable
2016-04-04 18:05:33.944 7817 ERROR neutron.agent.common.ovs_lib [req-42b082b1-2fbf-48a2-b2f3-3b7d774141f0 - - - - -] Traceback (mos

[2016-04-06 07:22] hunters1094 commented on #307
Hi

Maybe it relates to this bug of python. https://bugs.python.org/issue21619

[2016-04-06 08:18] temoto commented on #307
Thank you, we can easily copy EPIPE ignore to green subprocess.

[2016-04-06 20:49] acaos opened #308 "Using both eventlet.monkey_patch() and eventlet.wsgi.server() together with SSL fails with ssl.SSLWantReadError"
The following simple test script fails (when connected to using the `openssl` command-line client, or from a browser):

[code]

with the following exception chain:

[code]

I've tracked this down to the `set_nonblocking(newsock)` call in the `GreenSSLSocket.accept()` method in `eventlet/green/ssl.py` around line 318. The issue is fixed by either commenting out this call or by not calling `eventlet

[2016-04-06 21:28] temoto commented on #308
Ouch, that's a very unhappy situation.
Please, try eventlet master, it has relevant code modified, could fix this problem.

Also, my deepest recommendation: do not use Python for SSL/TLS public servers. Put a reliable TLS terminator software (like haproxy, nginx, stunnel, stud) in front to sleep well.

[2016-04-07 13:24] jcpetruzza opened #310 "greenthread.kill may raise the exception on the calling thread"
The problem I'm seeing can be reproduced with this small example:

[code]
As a workaround, one can uncomment the call to `sleep(0)`.

[2016-04-09 00:49] temoto commented on #310
Thanks, this is clearly a problem.

[2016-04-13 21:59] collinstocks opened #311 "TypeError: _wrap_socket() argument 1 must be _socket.socket, not GreenSocket"
Hi all,
I'm running into a problem after upgrading eventlet via pip when using it with the certifi cafile. The issue seems related to https://github.com/eventlet/eventlet/issues/201.

[code]

Here's the full traceback (made more detailed by ipython):
[code]

I'm using the following versions:
certifi==2016.2.28
eventlet==0.18.4

[code]

Keeping everything else the same, the same code runs perfectly

[2016-04-13 22:11] temoto commented on #311
Please, give me value of `certifi.where()`.

[2016-04-13 22:18] temoto commented on #311
NVM, I can reproduce it.

[2016-04-14 20:58] collinstocks commented on #311
I would love to help with this, but I'm not up to speed with eventlet internals. Any suggestions on where to start?

[2016-04-19 13:24] collinstocks commented on #311
Please see https://github.com/eventlet/eventlet/pull/312 for a fix. I believe this bug has been around since 2009 (https://github.com/collinstocks/eventlet/commit/f6e97445c892e3063c67012ca17695b03b3799a8), but was masked by the recently fixed bug where merely importing eventlet would cause ssl to be monkey-patched (https://github.com/eventlet/eventlet/issues/240; fixed by https://github.com/eventl

[2016-04-22 04:32] #311 closed

[2016-05-02 13:55] collinstocks commented on #311
Sorry if this is the wrong place to ask, but I'm wondering what the release cycle looks like (that is, when eventlet==18.5 looks like it's going to be released). For now, we're still using eventlet==17.4, but we recently realized that version is causing a resource leak due to an interaction between boto's use of threads and the monkey-patched SSL module. This problem will go away when we upgrade t

[2016-05-02 14:46] temoto commented on #311
Ah that's simple. There is no release plan. Because there is no value in release. It's just a git tag and upload to pypi.

I encourage you to use `-e git://github.com/eventlet/eventlet.git@COMMIT` in requirements, that way you have full control which version to include and bonus: github is more available than pypi.

If you still absolutely must use release, like Openstack people, no problem, I'll

[2016-05-02 20:38] collinstocks commented on #311
Thanks!

[2016-05-15 21:24] vanadium23 opened #313 "boto3 and eventlet don't work together"
I've some problem to make eventlet and boto3 work together. Purpose is to upload file to Amazon S3.
Here is a code example for debug purpose:

[code]

On python 2.7.11 and eventlet 0.19.0 it works fine, but after switching to python 3.5.1 it become stuck on epoll_wait operation.

Here is strace for python 2.7.11:
[code]

And for python 3.5.1:
[code]

Currently I ran out of ideas what has break, bu

[2016-05-15 21:38] temoto commented on #313
Thanks for reporting this.
Can you test on different Linux (kernel) version? On different Python3 (say 3.4)?

[2016-05-16 08:19] vanadium23 commented on #313
Tested against different python version: 3.4.4, 3.3.6 on kernel 4.5.1-1-ARCH - bug reproduced. Will test against different kernel versions later.

[2016-05-16 23:07] vanadium23 commented on #313
Tested with python 3.4.4 on ubuntu trusty (14.04.4 LTS) with kernel 3.13.0-86-generic. Same result :(

[2016-05-16 23:20] vanadium23 commented on #313
Update: error is something about 100-Expect header for S3 service near custom implementation in botocore: https://github.com/boto/botocore/blob/develop/botocore/awsrequest.py#L162

[2016-05-17 18:27] acaos commented on #308
Just wanted to confirm that this still happens using eventlet 0.19.0 (with the fix).

(and this is being used for a private server with no access to the Internet at large - your warning is well taken and quite correct).

[2016-05-17 18:49] acaos opened #315 "HTTPS still hangs when using requests on Python 3.5"
When on slower or laggy connections, HTTPS can still hang when using the `requests` module in Python 3.5 (the same issue from https://github.com/eventlet/eventlet/issues/276).

We have tracked this down to the implementation of `eventlet.green.ssl.GreenSSLSocket.recv_into()`. Copying and modifying the implementation of `recv()` from the same class fixes the problem:

[code]

Presumably `recvfrom()

[2016-05-17 20:25] acaos commented on #313
Please check the fix I have placed in https://github.com/eventlet/eventlet/issues/315 . Your issue appears to be similar to the one I encountered (SSL sessions through the `requests` module may hang). I verified that `botocore` does use the `requests` module.

You could try this immediately after your `eventlet.monkey_patch()` to see if it solves the issue:

[code]

[2016-05-18 13:02] jstasiak commented on #267
I'll extract my test case into a separate issue as I've found another one I think.

[2016-05-18 13:05] jstasiak opened #316 "green package (more than one module level) weirdness"
Extracted from https://github.com/eventlet/eventlet/issues/267#issuecomment-204391271

A minimal code to reproduce (latest Eventlet and httplib2, Python 3.5.1):

[code]

The result:
[code]

The relevant bit of code from ``httplib2/__init__.py``:

[code]

I think that's because existing, already imported ``http.client`` module is indirectly replaced when ``eventlet.green.urllib`` is imported and th

[2016-05-18 13:11] jstasiak commented on #316
Another example of this (Eventlet fb067b6). See ``eventlet.support.greendns.HostsAnswer`` class definition:

[code]

Minimal test case:

[code]

[code]

[2016-05-18 13:46] #267 closed

[2016-05-19 20:22] temoto commented on #313
@vanadium23 is it possible to test without SSL? Some kind of reliable naked-to-ssl proxy between eventlet and target API. I could add ssl support to my meetup proxy gist if it would help.

[2016-05-19 20:30] temoto commented on #315
Thanks for reporting, do you have a stable way to reproduce this?

This allows to force packet loss and delay on Linux.
http://stackoverflow.com/questions/614795/simulate-delayed-and-dropped-packets-on-linux#615757

[2016-05-19 23:28] ysingh7 opened #318 "Eventlet with pypy : Bad File Descriptor Error"
Hi

I am running Open Stack Swift application, which is a cloud storage solution  from the Open Stack application suite. The application runs fine using Cpython but when I try to run it using pypy I run into the following error :

[code]

I suspect that the implementation of the GreenSocket makefile function might have something to do with it.
Pypy maintains reference count for the the real socket

[2016-05-20 03:13] temoto commented on #318
@ysingh7 I've tried this synthetic example to reproduce the problem, but it didn't manifest. Do you have a better idea how to test it?

[code]

[2016-05-20 08:23] #293 closed

[2016-05-20 16:09] acaos commented on #315
We were able to reproduce it reliably with certain calls to our internal API over a WAN link, but those can't be posted publicly. I will try to reduce this to a minimal test case with full reproduction instructions.

[2016-05-23 08:56] vanadium23 commented on #313
@temoto I've tested without SSL and it worked. So the problem is in SSL hanging.

[2016-05-23 10:39] temoto commented on #313
Fix from @acaos works. This issue is merged into #315

[2016-05-23 10:39] #313 closed

[2016-05-23 10:41] temoto commented on #315
`boto3 Bucket.Object.put()` isn't minimal, but at least free and easy way to test this.

[2016-05-23 20:36] jstasiak commented on #154
It's a shame to admit this - my Smarkets colleagues (pinging @u-quark) and I managed to produce a simple test case for this some time ago and came up with a way to make this code behave less confusingly but didn't have time to contribute the change properly yet.

For the record - this failure is most likely a result of a programmer error (fd reused while select using it is in progress if I remembe

[2016-05-24 01:08] csboling opened #319 "greenio.base.GreenSocket ctor's call signature does not match socket.socket"
With monkey patching applied, calling `socket.socket` with keyword arguments raises an error:
[code]
produces (Python 3.5.1, Windows 7)
[code]

`GreenSocket`'s constructor names its first argument `family_or_realsock` [here](https://github.com/eventlet/eventlet/blob/master/eventlet/greenio/base.py#L128) whereas `socket.socket` uses `family`. This can raise an error in standard library modules, e.g

[2016-05-24 05:55] ysingh7 commented on #318
I have modified the above test case to produce the error :

import eventlet
import sys
import time

host = 'localhost'
if len(sys.argv) > 1:
  host = sys.argv[1]
s1 = eventlet.connect((host, 8888))
print("Socket and File Descriptor beneath is : ",s1.fd._sock,s1.fd.fileno())
f = s1.makefile()
f.write(b'GET / HTTP/1.0\r\nConnection: close\r\n\r\n')
f.close()
import gc
print("Garbage Collector Kickin

[2016-05-24 08:05] temoto commented on #319
bla bla tons of machine output :-)

Thanks for reporting, I agree that proper fix is to name it `family`. Let's hope it doesn't break a lot of applications.

[2016-05-24 08:58] temoto commented on #319
Fix is merged into master d0837ba1cf8324d678b54567a7570421b7ede18c

[2016-05-24 08:58] #319 closed

[2016-05-24 15:18] csboling commented on #319
Thanks for the fast response!

[2016-05-25 13:45] vanadium23 commented on #315
What do we need to do next to fix the issue?

[2016-06-02 18:13] jjohnson42 opened #321 "greendns.getaddrinfo fails on LLA with scope index"

[2016-06-02 18:15] jjohnson42 commented on #321
I meant to write some commentary, I made the following change to have is_ipv6_addr return True for fe80::abcd%eno2 for example
def is_ipv6_addr(host):
    """Return True if host is a valid IPv6 address"""
    if not isinstance(host, six.string_types):
        return False
    host = host.split('%', 1)[0]
    try:
        dns.ipv6.inet_aton(host)
    except dns.exception.SyntaxError:
        return

[2016-06-02 18:39] jjohnson42 commented on #321
Made pull request 322 with the change.

[2016-06-02 18:52] ysingh7 commented on #318
We further investigated the issue and came up with this explaination :

Problem: exception leading to application to crash While running under PyPy, and driven by Swift benchmark ssbench/or a customized script simple_put_test.py, OpenStack Swift (the proxy processes on the proxy server) suffered unhandled exception, “Bad file descriptor”, leading to application failure.  This happens only running

[2016-06-05 23:35] svinota opened #323 "recv_into(…, MSG_DONTWAIT) behaviour"
The eventlet library changes the behaviour of the  `socket.recv_into(…, MSG_DONTWAIT)` call.

* Python version: 2.7.11
* Eventlet version: python2-eventlet-0.17.4-4.fc23.noarch (but is reproduced on other platforms as well)
* Reproducible: always
* Expected result: socket.error: [Errno 11] Resource temporarily unavailable
* Real result: the call hangs

[code]

[2016-06-05 23:45] svinota commented on #323
The same for `recv()`, so I'm changing the topic.

Looks like eventlet doesn't respect MSG_DONTWAIT and calls poll() here?

[2016-06-08 23:00] notmyname commented on #318
@ysingh7 can you reformat the patch as a pull request? Might make it easier for people to review and then merge.

[2016-06-09 15:12] sibelius opened #325 "AttributeError: '_thread._local' object has no attribute 'Hub'"
I'm having this issue in python 3.5

[code]

[2016-06-10 18:10] ysingh7 commented on #318
@notmyname I have created a pull request for this issue : https://github.com/eventlet/eventlet/pull/326

[2016-06-13 14:01] sibelius commented on #325
this is not working on python 3.4 as well

[2016-06-13 14:02] sibelius commented on #325
maybe this help debug this:

[code]

I use this on my celery worker

[2016-06-13 15:43] sibelius commented on #325
it works on linux, but no on my mac os x (el captain)

[2016-06-15 06:10] yuetianle opened #328 "eventlet.monkey_patch() with multiprocess error"
when i use eventlet.monkey_patch()
and use the multiprocess.Process()
it's has some problems.
  File "c:\python27\Lib\multiprocessing\process.py", line 130, in start
    self._popen = Popen(self)
  File "c:\python27\Lib\multiprocessing\forking.py", line 273, in __init__
    to_child = os.fdopen(wfd, 'wb')
  File "C:\Users\Administrator\PycharmProjects\ENV\env27-dev\lib\site-packages\eventlet\green

[2016-06-17 09:58] dalinhuang commented on #154
I've tried @jstasiak code fix, that works for me.

[2016-06-20 20:50] avillacis commented on #193
This still happens with 0.18.4. Now the trace is slightly different:

[code]

[2016-06-20 20:56] avillacis commented on #193
As before, EVENTLET_HUB has no effect in whether the exception occurs.

[2016-06-20 22:22] avillacis commented on #193
I have now a minimal reproducer. This reproducer **requires** a MySQL database connection with valid credentials, as this is part of what triggers the bug.

This program is supposed to print "main: doing nothing..." and "do_something: doing nothing..." endlessly, until Ctrl-C is pressed. However, with the bug, a "timeout" traceback appears after 3 seconds, the value used in socket.settimeout() . T

[2016-06-21 15:19] avillacis commented on #193
My test results:

I think you meant calling eventlet.monkey_patch() without arguments. The interpreter refuses an argument to eventlet.monkey_patch():
[code]

If I replace "import MySQLdb" with "MySQLdb = eventlet.import_patched('daemon')", I get this instead:
[code]

Calling eventlet.monkey_patch() before the import MySQLdb does nothing. The program runs but still receives the erroneous timeout.

[2016-07-04 16:51] jstasiak commented on #274
Related Python bug report for reference: [Raw I/O writelines() broken for non-blocking I/O](http://bugs.python.org/issue26292)

[2016-07-04 16:54] jstasiak commented on #315
We've hit the same issue on Linux on Python 3.5.1 with development Eventlet version, when I interrupt the application I get:

[code]

It hangs depending on the size of the response, with smaller responses it works fine but with larger it doesn't. I'll have a look at patching the code using the code proposed above.

[2016-07-05 15:50] brnelsongit opened #332 "Duplicate bytes received by client when eventlet.greenio.base send() interrupted by Timeout"
When there is high network congestion or the client is reading slowly, the data read by the client may have bytes incorrectly duplicated.  If the wsgi application sends a block of bytes like 'abcdefghi...', the client may instead receive 'abcabcdefghi...'.  Some number of bytes at the beginning of the block are repeated.

This seems to happen when the wsgi application wraps the yield of the data i

[2016-07-05 16:53] bnelsonibm commented on #332
The testcase can also demonstrate that the bytes are correctly sent in the normal case when there is no network slowdown.  Rather than wait for the server to print the GET message, hit enter in the client terminal from the start.  This will cause the client will read at full speed and the server will not get backed up.  The blocks will be sent correctly and there will not be a miscompare.

[2016-07-07 02:39] clayg commented on #318
@temoto I dug around through revision history as best I could trying to track down some sort of explanation as to why the eventlet implementation of makefile calls dup and got lost.  I left some comments on the #326.

@ysingh7 Could you test pypy + swift with out calling `dup` in makefile and report the results?  You seemed to indicate that not calling `_drop` on the dupped handle *also* worked -

[2016-07-07 11:44] temoto commented on #318
@ysingh7 thank you very much for very detailed explanation and putting much work into it.

@notmyname patches are just fine, if not better, compared to pull requests.

@clayg maybe `dup` is redundant, I also don't know why it was required. If it works without `dup`, I'd be only happy to remove it.

[2016-07-07 12:43] temoto commented on #318
I've merged the `.close = None` fix. If everything works without `dup`, please send new patch.

Thanks.

[2016-07-07 12:43] #318 closed

[2016-07-08 12:40] jstasiak commented on #315
I know what the issue is, should have a patch ready soon-ish.

[2016-07-11 16:33] jstasiak opened #333 "Drop support for older Python versions"
Since the resources people can dedicate to this project are very limited and supporting older Python versions causes more and more trouble I propose what follows:

* Drop Python 2.6 and 2.7 support immediately (affects all future non-patch releases)
* Create a branch based on the most recent Eventlet release so we can apply bug fixes there and release on PyPI for the time being

Pinging @temoto

[2016-07-11 16:40] jstasiak commented on #333
Actually now that I think about it I'm fine with not having any bugfix Python 2-compatible branch and releases at all (unless someone wants to step up and maintain it).

[2016-07-11 17:06] #315 closed

[2016-07-12 08:52] temoto commented on #333
- 2.7 will be supported.
- We can definitely sacrifice 2.6 granted sufficient benefits (so far I don't know any).

If there's community interest, I propose split into packages:
- `eventlet` high level API and Python version independent things like Queue, Event, etc
- `eventlet-low-py{2,3,py}` low level API for different platforms, things like Hub, greenio, SSL

[2016-07-12 09:39] jstasiak commented on #333
I think I understand where you're coming from. What would you suggest I should do in cases where I want to contribute (bug fix most likely) but do not want to spend any more time on Python 2 compatibility?

[2016-07-12 20:33] temoto commented on #333
Principle in short: no violence. Do only what you feel is right.

Some options:
- A patch that fixes bug for one platform leaving other versions broken is still better than not fixing anything.
- I'm very fine with copying parts of stdlib.
- Write me an email or find `temotor` in Telegram messenger to discuss particular case.
- Guard bugfix with version check and commit it as py3-only.

[2016-07-13 14:01] jstasiak commented on #333
Hah, I haven't thought of that - version guarding new code/bugfix will certainly work for me, I should've thought about it. If you're fine with it I'm fine with it, let me close the issue.

[2016-07-13 14:01] #333 closed

[2016-08-08 18:43] temoto opened #335 "Pool results in completion (ASAP) order"
A feature was requested in mailing list, pool method that would retrieve results in completion order. Iterating over `GreenPile` works, but it waits for some (all) other results before returning the fastest one.

Patch is warmly welcome.

CC: @nat-goodspeed @clayg

https://github.com/openstack/swift/blob/master/swift/common/utils.py#L2550
https://gist.github.com/clayg/b46cae9000af23145f74d4a2d9d8e

[2016-08-09 18:36] temoto commented on #323
Yes, Eventlet was specifically designed to glue performance of non-blocking with straight readable code. It would seem possible to add handling of those flags, but so far I don't see a valid use case. Please show the code.

[2016-08-09 19:09] svinota commented on #323
Since the beginning of June a lot of things passed by.

No, I will not show the code, since already solved the task in a different way. Nevertheless, I would insist that it is an issue, not an enhancement: the library simply breaks the Python stdlib functionality, and thus any code that would use MSG_DONTWAIT.

If there is no possibility to support the standard, at least it would be nice to warn t

[2016-08-10 06:40] temoto commented on #193
Your fix is merged in master cb8ac9b
Thank you.

[2016-08-10 06:40] #193 closed

[2016-08-15 07:06] augurar opened #340 "Monkey-patching os module breaks getpass on OSX"
Monkey-patching the `os` module causes `getpass.getpass()` to fail:

    Password: Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/getpass.py", line 71, in unix_getpass
        passwd = _raw_input(prompt, stream, input=input)
      File "/System/Library/Frameworks/Python.framework/Versio

[2016-08-15 07:07] augurar commented on #340
Here is some C code to reproduce the underlying error:

    #include <fcntl.h>
    #include <stdio.h>
    #include <stdlib.h>
    #include <sys/event.h>
    #include <sys/time.h>
    #include <sys/types.h>

    int main(int argc, char **argv) {
        int fd = open("/dev/tty", O_RDWR | O_NOCTTY);
        if (fd < 0) {
            perror("open");
            exit(1);
        }

        int kqfd =

[2016-08-15 07:24] temoto commented on #340
Thanks for report.
You can try `monkey_patch(os=False)` for a temporary workaround.

[2016-08-15 07:44] augurar commented on #340
Yes; another workaround is to supply `getpass` with the unpatched `os` module:

    import getpass
    getpass.os = eventlet.patcher.original('os')

[2016-08-15 08:47] temoto commented on #340
Yes, that one is much better.

[2016-09-01 17:47] rickwargo commented on #325
epoll is not supported on OS X; you'll have to use kqueue instead.

[2016-09-01 18:39] temoto commented on #325
This is a surprise. Please, show

[code]

[2016-09-01 18:43] rickwargo commented on #325
I was just researching how to get epoll on OS X and found these: [https://www.google.com/search?q=epoll+osx](https://www.google.com/search?q=epoll+osx)

[code]

[2016-09-01 18:53] temoto commented on #325
@rickwargo yup that's how it should behave and seemingly @sibelius has something else.

You are not supposed to run epoll on OSX, Eventlet must choose kqueue or select automatically.

[2016-09-01 18:56] temoto commented on #321
Thanks, your fix is merged into master.

[2016-09-01 18:56] #321 closed

[2016-09-06 07:05] yrik opened #345 "'_DummyThread' object has no attribute '_children'" using Billiard"
When I do monkey patch and trying to use Billiard it seems broke their pool implementation.
Plase advice how to handle it.

What I'm trying to do:
- to run Celery with prefork concurrency model and patch django to use eventlet code in the celery task.

Here is full traceback

[code]

[2016-09-19 15:29] temoto commented on #345
I think possible solutions:
* monkey_patch before importing billiard
* reimport billiard modules after patch

[2016-09-25 13:43] nat-goodspeed commented on #335
One could use the new DAGPool to obtain results in completion order, at the cost of generating a distinct key for each greenthread. But since keys can be ints, that doesn't seem onerous.

I am willing to consider that a satisfactory resolution of this issue.

[2016-09-25 14:06] temoto commented on #335
DAGPool lacks (and by design) key feature of GreenPool/Pile: concurrency limit.

[2016-09-30 14:15] coreycb opened #349 "test_import_patched_defaults fails with invalid base.urllib.socket.socket"
test_import_patched_defaults fails with invalid base.urllib.socket.socket

[code]

This seems very similar to: https://github.com/eventlet/eventlet/issues/177

Related package versions:
[code]

I'm hitting this on ubuntu package builds for yakkety which run 'nose tests/'.

I'm unable to recreate this manually on yakkety:

[code]

[2016-10-04 03:41] christopher-abastar opened #350 "Eventlet + Freebsd , flask-socketio stalling"
Hello,

I'm having issues with flask socketio app. I already raised this error to that @miguel's  project but not sure if it's related there. My app has been running for a while but eventually it hits a wall and suddenly it STALLS. It's like an airplane stalling that you can't control and it just crashes. I already posted it as well on freebsd group.

The listen queue overflow isn't the problem an

[2016-10-04 07:50] christopher-abastar commented on #350
Hi,

I did some more wireshark packets from haproxy to the eventlet(port 5001) server: Here's the results:
Apparently, when the after the syn/ack handshake, it returns an RST packets to the server.

![image](https://cloud.githubusercontent.com/assets/12439198/19066091/f5a2446c-8a49-11e6-9007-1de36923eedf.png)

[2016-10-10 10:16] penolove opened #351 "websocket example issue"
Python version: 2.7.6
Operating System: ubuntu 14.04
pip with 8.12

Description:

while runing the websocket example, on chrome will see

![image](https://cloud.githubusercontent.com/assets/9348557/19178853/b8753c1a-8c89-11e6-8c94-cc675906c716.png)

and don't know how to extact data from the Blob

What I've run:

on shell:
cd gevent/examples
python websocket.py

on chrome ,url= http://localhost:70

[2016-11-03 12:06] christopher-abastar opened #355 "Freebsd eventlet abort error causing the webapp not to accept anymore connections"
Hi,

I tried running this with gunicorn.  Upon stumbling on this error, eventlet seems stops accepting new connections.  Anyone know what to do to recover?
[code]

[2016-11-05 15:57] temoto commented on #351
Thank you, it's fixed in master df0d300

AFAIK we only support binary websocket messages now on server side, it requires additional `FileReader` parsing step.

[2016-11-05 15:57] #351 closed

[2016-11-28 14:27] nat-goodspeed opened #357 "monkey_patch(subprocess=True) doesn't patch CalledProcessError"
My script uses:

    eventlet.monkey_patch(os=True, select=True, socket=True, time=True,
                      builtins=True, subprocess=True)
    # ...
    import subprocess
    # ...
    try:
        output = subprocess.check_output(...)
    except subprocess.CalledProcessError as error:
        # ...

This fails to catch CalledProcessError. Changing the `except` line to:

    except eventlet.gr

[2016-11-28 20:33] nat-goodspeed opened #358 "Exceptions in greenthreads spam stderr"
I have an application in which I spawn greenthreads, capturing the GreenThread object returned by spawn(). Later I call wait() on that object. All classic stuff.

What may be unusual is that I _expect_ certain of those greenthreads to raise exceptions. I have code to handle them at the wait() end.

Even when I start with the following:

    import eventlet.debug
    eventlet.debug.hub_exceptions(F

[2016-11-29 05:50] temoto commented on #358
Please see isolated test in 6563012, I observe requested behavior. What's different from your code?

[2016-11-29 05:51] temoto commented on #358
[code]

[2016-12-01 17:28] joestepp opened #360 "Monkey patching causes Eventlet to raise ssl.SSLError for certain domains"
Basic GET requests to certain domains always fail after `eventlet.monkey_patch()` is called. Here's an example:

Python 3.5.2
eventlet 0.19.0
requests 2.12.3

[code]

This happens on every GET to httpbin.com, but not to other domains such as google.com or yahoo.com, curiously. We originally noticed this when querying Front's API. Not monkey patching causes the request to succeed. It seems like thi

[2016-12-01 21:56] joestepp commented on #360
It appears that the monkey-patching of `socket` in particular is what's causing this issue (which might be obvious from the traceback):

[code]

Only patching `socket` also causes the error:

[code]

When `socket` is monkey-patched, requests to https://httpbin.org/ always fail. Requests to
https://api2.frontapp.com/ fail randomly (not just by querying the root domain, but when we actually make an

[2016-12-01 22:11] temoto commented on #360
Please, try latest master. We have at least 2 major changes related to SSL.

`pip install https://github.com/eventlet/eventlet/archive/master.zip`

[2016-12-01 23:14] joestepp commented on #360
@temoto This resolved the issue. Thank you very much!

[2016-12-01 23:14] #360 closed

[2016-12-02 20:39] temoto opened #361 "monkey_patch breaks keyboard input in ipdb inside docker-compose"
This issue was originally posted on Stackoverflow https://stackoverflow.com/questions/40842877

[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/fUN3D.png

[2016-12-02 20:40] temoto commented on #361
As of 2016-12-02, the issue is not studied, I suggest to try `monkey_patch(os=False)`.

[2016-12-05 15:42] haypo commented on #256
Many eventlet versions were released with the fix, so this issue can now be fixed ;-)

[2016-12-05 15:42] #256 closed

[2016-12-05 15:46] haypo commented on #185
Oslo Messaging now works well on Python 3 with eventlet. I don't recall how the issue was fixed, but it now works well :-) So I close this old issue.

[2016-12-05 15:46] #185 closed

[2016-12-18 23:30] anthraxx opened #362 "test_import_patched_defaults fails with pyopenssl>=16.1.0"
Hi, I'm a package maintainer and the tests seem to fail in 0.20:

[code]

[2016-12-19 00:08] temoto commented on #362
Thanks for report. How do you run tests?

[2016-12-19 00:10] anthraxx commented on #362
```nosetests -sv tests```

[2016-12-19 00:26] temoto commented on #362
Please, share maximum details, `uname -a`, `python -V`, `pip freeze`. It doesn't fail like that on my machine.

[2016-12-19 00:51] anthraxx commented on #362
Python version 3 seems to pass fine, its just python2 build that is failing:

System:
``
Linux buildmachine 4.8.12-2-ARCH #1 SMP PREEMPT Fri Dec 2 20:17:06 CET 2016 x86_64 GNU/Linux
[code]
Python 2.7.12
[code]
alabaster==0.7.9
appdirs==1.4.0
Babel==2.3.4
cffi==1.9.1
chardet==2.3.0
cryptography==1.7.1
dnspython==1.15.0
docutils==0.13.1
enum34==1.1.6
funcsigs==1.0.2
greenlet==0.4.11
httplib2==0.9.2

[2016-12-20 18:00] mattbennett opened #363 "DNS is broken with eventlet==0.20.0"
Upgrading to eventlet 0.20.0 breaks DNS lookups of fully-qualified domain names that do not end with a `.` if a search domain is specified.

dnspython doesn't support this behaviour (https://github.com/rthalley/dnspython/issues/219), I guess because it's not strictly correct, but `socket.getaddrinfo` _does_, so the behaviour is different with and without the monkeypatch.

Gist to reproduce is here

[2016-12-21 15:55] temoto commented on #362
Does it fail when you run `nosetests -sv tests/patcher_test.py` ?

Can you share system image? I've installed latest Arch in Virtualbox, but still cannot reproduce this.

[2016-12-21 16:05] anthraxx commented on #362
well I'm **really** **really** sry, i translated the nosetests call as i did not expect you to install Arch and we ship   nosetests2 for python2 :stuck_out_tongue:
so its calling ```nosetests2 -sv tests``` and yes, it also fails for me when doing ```nosetests2 -sv tests/patcher_test.py```

If that does not break, you should not need a system image as we use a deterministic build environment for pa

[2016-12-21 16:14] temoto commented on #362
Are you running pacman installed nose then? Is it all not in virtualenv?

[2016-12-21 16:16] anthraxx commented on #362
yes, all system packages as eventlet itself is a system package. no virtualenvs involved

[2016-12-21 22:44] temoto commented on #362
It is triggered by pyopenssl install. What fun.

[2016-12-22 01:41] temoto commented on #362
Should be fixed in master. Please, try again with latest code.

`pip install https://github.com/eventlet/eventlet/archive/master.zip`

[2016-12-22 13:30] temoto commented on #363
Please try this version with fix

`pip install https://github.com/eventlet/eventlet/archive/2dabaecdc1c582f2db43f114b10af461430deced.zip`

[2016-12-22 16:36] mattbennett commented on #363
Yep, this solves the problem. Thank you.

I guess the `resolve.conf` docs are vague -- "Resolver queries having fewer than ndots dots in them will be attempted using each component of the search path..." but if `ndots` is _zero_ then shouldn't a no-dot domain name be interpreted as fully-qualified? `getaddrinfo` seems to be interpreting it one way and `dnspython` the other.

[2016-12-22 19:26] MPagel opened #364 "unsupported operand type in eventlet\semaphore.py (greenpool)"
[code]

Python 2.7.11 (v2.7.11:6d1b6a68f775, Dec  5 2015, 20:32:19) [MSC v.1500 32 bit (Intel)] on win32

[2016-12-22 21:21] temoto commented on #363
I deeply agree that `resolv.conf` specs could use some tough clarification. I think `ndots:0` makes unqualified names invalid. Also, from managing persistent virtual machines I learned that adding `.local` domain everywhere makes things really clear and easy to configure.

[2016-12-22 21:33] temoto commented on #364
Can you share code to reproduce issue?

[2016-12-22 21:37] temoto commented on #364
I think you have something like `pool.resize('2')`. Python doesn't automagically convert between numbers and strings.

[2016-12-22 21:40] temoto commented on #355
Can you teach me how to reproduce it? `uname -a` could also help.

[2016-12-22 21:40] MPagel commented on #364
did a bit of further debugging.  It's because my call to establish the pool was GreenPool(size=cfg.get('GLOBAL','Max_AWS_Connections')) where cfg is an object of type ConfigParser.RawConfigParser().  So, it's sending it in as a string.  So, chalk this up to (mostly) end-user error.  However, I recommend the following check in semaphore.py:

[code]

[2016-12-22 21:43] MPagel commented on #364
(note, this blocks the behavior of a GreenPool of size 0)

[2016-12-22 22:07] temoto commented on #364
`te = not isinstance(...)` ;-)

[2016-12-22 23:06] MPagel commented on #364
Thanks. Hopefully it should be Pagel-proof now :P

`te = not isinstance(...)` - um, yeah.  /facepalm.  You certainly have a better implementation now than copying `value` and then doing a `try: counter += 0` as my first work-around was

[2016-12-22 23:31] anthraxx commented on #362
well... progress.... but now i get the following failure :stuck_out_tongue_closed_eyes:
(yet again only in python2, python3 passes) using latest HEAD: e1bb2fee1db118a617b674821d1f73add9e4f77f

[code]

[2016-12-23 01:30] temoto commented on #364
The fix is merged in master 79292bd so it will be included in emergency bugfix release 0.20.1 soon. Thanks and have great time.

[2016-12-23 01:30] #364 closed

[2016-12-23 01:33] temoto commented on #362
This is the same error, just a bit clearer now.
For some reason it wasn't fixed. HEAD PKGBUILD is super useful, thanks.

[2016-12-23 03:12] temoto commented on #362
Should've say it earlier, but this *could be* a very important error, please don't release 0.20 on Arch before this is fixed.

[2016-12-26 19:26] MPagel opened #365 "monkey_patch line blocking APScheduler"
http://stackoverflow.com/q/41326156/4228193

An APScheduler task is failing to trigger when also using Eventlet.  If I comment out the `patcher.monkey_patch(all=True)` line, APScheduler fires properly (but I don't think the Eventlet code would work appropriately in those circumstances).

[2016-12-26 19:52] MPagel commented on #365
Moving the import and monkey_patch line up to the top of the module (outside of __main__) still results in deactivation of APScheduler. Moving it into the same procedure where I first call and use a GreenPool allows APScheduler to fire but results in the following errors when I control-C out of the program (KeyboardInterrupt is trapped in the main() procedure)

[2016-12-26 20:03] MPagel commented on #365
eventlet.patcher.monkey_patch(all=False, os=True, select=True, socket=True, thread=False, time=True) doesn't block APScheduler, but will probably block eventlet.  I'll give it a whirl though.

[2016-12-27 20:10] iiDatKat opened #366 "Eventlet doesn't accept external requests for some reason"
I'm running Flask + Socket.IO on the Eventlet library that I got via pip.
Here's my code:

    from flask import Flask, request, render_template
    from flask_socketio import SocketIO
    from flask_cors import CORS, cross_origin
    app = Flask(__name__)
    app.config['SECRET_KEY']='secret!'
    socketio = SocketIO(app)

    import eventlet
    eventlet.monkey_patch()

    @app.route("/")
    d

[2016-12-27 20:31] MPagel commented on #365
It **appears** to be working at present. I'm not sure which modules specifically need monkeypatching in my case - I was going off the advice at http://stackoverflow.com/a/4721264/4228193 to just go ahead and monkeypatch all.

Perhaps it is working because when I'm using the GreenThreads, I'm distinctly NOT responding to changes to files in the config directory (the WaitForSingleObject code), nor a

[2016-12-27 20:51] temoto commented on #365
Great, if it doesn't work, write me more. You mentioned downloading files, basically, you only need to patch socket, maybe select. Non-blocking file IO is so hard most people revert to thread pools. We don't have even that, so wrapping `file.write` calls with `eventlet.tpool.execute` is a very good idea.

`monkey_patch` acts smart, yes. I think it's at teen level right now. Sometimes rebels for no

[2016-12-27 20:51] #365 closed

[2016-12-27 21:11] temoto commented on #366
My best guess is you have a negative network policy for 5000 port. Or you tried wrong IP. tcpdump would help a lot.

[2016-12-27 21:30] MPagel commented on #365
good point re: file.write. There are circumstances when two processes might attempt to write the same (non-critical) file, so I'll wrap those in the tpool.execute as appropriate.  Right now I just have it re-attempting writes (appends) upon failure after one minute.

[2016-12-27 21:46] iiDatKat commented on #366
@temoto Should I do tcpdump while Eventlet server is running?

[2016-12-27 23:15] temoto commented on #366
Yup, this line was giving useful info for me `tcpdump -i any -An -vvv -ttttt -s1500 'port 5000'`

[2016-12-27 23:26] temoto commented on #365
Concurrent append is no joke problem and the only real solution is to execute writes one at a time. To do that across different processes means "database server" process and some kind of queue in it. Just `open('path', 'ab').write('foo")` may overwrite (or worse - partially) concurrent updates.

`tpool.execute` doesn't serialize calls, by default it's configured to 20 threads.

[2016-12-27 23:28] iiDatKat commented on #366
@temoto Well, it doesn't look too helpful to me. This is `tcpdump`:

    tcpdump: data link type PKTAP
    tcpdump: listening on any, link-type PKTAP (Apple DLT_PKTAP), capture size 1500 bytes

That's it.

[2016-12-27 23:40] temoto commented on #366
You should also try to make request while tcpdump is capturing network.

[2016-12-27 23:41] iiDatKat commented on #366
@temoto Request to where? The server? I can't access the server page from IP or localhost.

[2016-12-27 23:44] temoto commented on #366
While otherwise allmighty, tcpdump is not able to think up useful information. You must attempt requests even if that wasn't working before.

[2016-12-27 23:46] iiDatKat commented on #366
@temoto Now it works somehow. Huh. That was random.

[2016-12-27 23:52] temoto commented on #366
(Assuming Linux or similar POSIX OS).
Try to inspect `netstat -nat |fgrep -c TIME_WAIT`, if that number goes too high, it means you need to add `net.ipv4.tcp_tw_recycle = 1` to sysctl.

[2016-12-28 21:06] audrummer15 opened #367 "wsgi log Timestamps for Accepted messages"
Right now, our prod logs look like this:

[code]
... over and over again. Which isn't really useful at all. It would be nice if there were some way to add a timestamp to this message, or disable it because it bloats our logs. I believe the place this would be happening is at the following line:
https://github.com/eventlet/eventlet/blob/4d2cdca17a44b19405d4cdeafc898a500fe2485c/eventlet/wsgi.py#L882

[2016-12-29 10:44] temoto commented on #367
I agree this format is not very useful. Probably our wsgi server needs rethink of logging. This is not a priority task because more general customization approach is available, but patches are always welcome.

Right now your best option is to construct an `logging.Logger` interfaced object (that means it has `debug`, `info`, `error`, etc methods). And pass it to `wsgi.Server(log=foo)`. In those me

[2016-12-29 10:44] #367 closed

[2016-12-29 10:53] temoto commented on #362
*(notebook)*
The issue is caused by freaking import order.

The test in question verifies if `urllib.socket` refers to green module. But mere `import eventlet` to get `import_patched` follows this chain: `eventlet -> .green.base -> OpenSSL -> urllib -> socket`. So `urllib` imports system (not green) `socket` before anything useful happens.

I have a patch that fixes this problem, but it changes `i

[2016-12-29 23:56] temoto commented on #362
Okay I've finally traced the issue not to Eventlet change but to PyOpenSSL change between 16.0.0 and 16.1.0. Our tox is configured to install pyopenssl 16.0.0 which doesn't trigger this error.

I'll close this issue with little test calmer. The big behavior change can wait little longer.

[2016-12-30 00:40] temoto opened #368 "import_patched should ensure patching of all sub-imported modules"
#362 brought up an interesting problem.

The test in question verifies if urllib.socket refers to green module. But mere import eventlet to get import_patched follows this chain: eventlet -> .green.base -> OpenSSL -> urllib -> socket. So urllib imports system (not green) socket before anything useful happens. Then we have urllib with blocking socket cached in `sys.modules`. If later execute `foo =